[2019-05-08 06:41] satellitex opened #30 "Fix Readme link."
fix [here] that is not linked.

[code]

[2019-05-08 10:41] satellitex commented on #30
https://github.com/stakedtechnologies/Plasm/pull/32

[2019-05-08 10:41] #30 closed

[2019-05-08 11:00] taskooh opened #33 "runtime/wasm in [workspace] members"
what do you think about adding "runtime/wasm" to root directory’s Cargo.toml [workspace] members?
there is another Cargo.toml in directory:"runtime/wasm".

[2019-05-08 11:26] satellitex commented on #33
Happened error.
[code]

[2019-05-08 18:16] satellitex opened #35 "Err happend `Storage root must match that calculated`."
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. `cargo build`
2. `./target/debug/plasm-node`

[2019-05-09 10:13] satellitex commented on #35
fixed #34

[2019-05-09 10:13] #35 closed

[2019-05-17 07:27] #33 closed

[2019-10-16 04:29] akru opened #70 "[testnet]: Bootnodes connection failure"
**Describe the bug**
Node can't sync with bootnodes during launch process.

**To Reproduce**
Steps to reproduce the behavior:
1. Build `plasm-node` from sources in master branch.
2. Launch `plasm-node` with `testnet/local.json` configuration.

**Expected behavior**
Node synchronization.

**Screenshots**

[code]

**Desktop (please complete the following information):**
 - OS: Linux NixOS
 - Rust: 1

[2019-10-18 18:40] satellitex commented on #70
I fixed it and update testnet.
https://github.com/stakedtechnologies/Plasm/pull/73

This branch tested below:
[code]

[2019-10-19 04:15] akru commented on #70
Fixed in Testnet v0.0.2

[2019-10-19 04:15] #70 closed

[2019-11-19 10:29] Realgar opened #78 "Cargo Install, missing package"
realgar:~$ rustup update nightly
info: syncing channel updates for 'nightly-x86_64-unknown-linux-gnu'
info: latest update on 2019-11-19, rust version 1.41.0-nightly (3e525e3f6 2019-11-18)
info: downloading component 'rustc'
info: downloading component 'rust-std'
info: downloading component 'cargo'
info: downloading component 'rust-docs'
info: downloading component 'rustc-dev'
161.8 MiB / 161.8 MiB

[2019-11-19 11:12] akru commented on #78
Could you also please give output of:

cargo —version

[2019-11-21 03:50] iammelea opened #79 "Plasm Network testnet "doubts""
```Since we launched our Plasm Network testnet, we are looking for around 50 validators all over the world. This is a testnet like Ethereum Rinkeby, Kovan, and Ropsten. So, PLM (Plasm Network native token called PLUM) doesn’t have any values. Therefore, there is no incentive to be a validator on the testnet. To solve this problem, We will provide you with a right to be the first validator during t

[2019-11-21 14:53] akru commented on #78
@Realgar Can I close this?

[2019-11-24 11:40] akru commented on #78
Please feel free to reopen it if needed.

[2019-11-24 11:40] #78 closed

[2019-12-09 07:12] akru commented on #79
Hello @iammelea!

Let's try to explain your questions:

We wonder to involve 50 nodes in validation process but don't strict it up to 50, it could be as much as possible.

We will provide you with a right = how? A package of nominations from the team for all participants alike, is this enough to continue validating after the POA ends, also, how long will that right last?

Stake Technologies during

[2019-12-09 07:38] akru opened #88 "[Translation]: Article translation to Chinese"
**Task**

Translate to Chinese following articles:

- https://medium.com/stake-technologies/plasm-lockdrop-introduction-54614592a13
- https://medium.com/stake-technologies/plasm-testnet-launch-90d7e58328b3
- https://medium.com/stake-technologies/the-scalable-dapps-platform-on-polkadot-b31fbe1b786b

**Report**

As report provide Google Document with translation and comments (in English) for publica

[2019-12-10 10:58] satellitex opened #90 "Fix editor config in Plasm source codes."
Currently, the Editor config of Plasm repository is following on Substrate. This indent style is tab.
We should be using 4 spaces. It will follow on [ink!](https://github.com/paritytech/ink/blob/master/.editorconfig).

[2019-12-10 14:20] think-in-universe commented on #88
Hey @akru Alexander, I have completed the translation of these 3 articles here: https://docs.google.com/document/d/1NzYWzos8cj7zKwzg2KNPEmqHyK5XlWhHoUl_x_iWgjk/edit?usp=sharing

- I have added comments for the sections that I have questions about the English version of the articles. Please take a look, and let me know for any feedback.
- The shared Google Document can be commented (but not editabl

[2019-12-10 14:50] SotaWatanabe commented on #88
Thank you for your contribution @think-in-universe. Since you have done very cool works, we are happy to approve as a worker and fund you. Web3 Foundation will approve you and we will fund you when you finish working it. Thank you very much!

[2019-12-10 15:07] akru commented on #88
Hey @think-in-universe! Thank you for your work, I'm a bit surprised that you already finish this translation work. So, let's wait a bit someone from W3F to approve you as worker. I'll read your document carefully tomorrow, thank you for comments.

[2019-12-10 15:10] akru commented on #88
Hello @Web3Foundation, could you approve @think-in-universe as worker for this issue.

[2019-12-11 02:12] think-in-universe commented on #88
@akru @SotaWatanabe thanks guys. Happy to contribute. 😄

Please help with proof reading, and I will update the documents for any issues found.

[2019-12-11 06:07] SotaWatanabe commented on #88
@think-in-universe Sure. I am working on it. We will be in Shanghai from 13 to 14. It would be great if we could meet up!

[2019-12-11 07:38] think-in-universe commented on #88
@SotaWatanabe awesome. I'm in Hangzhou this week. Will visit Shanghai this Saturday if the schedule works for me 😃

[2019-12-13 07:30] akru opened #92 "[Translation]: Slide deck translation into Chinese"
**Task**

Translate to Chinese following slide deck and articles:
* https://drive.google.com/file/d/1RUDq79epSwx425Dp4THpPJlSfXqx340d/view?usp=sharing
* https://medium.com/@akru/plasm-lockdrop-howto-c3cd28e6fed1

**Report**

As report provide Google Document with translation and comments (in English) for publication.

[2019-12-13 16:41] think-in-universe commented on #88
@akru @SotaWatanabe hey guys, sorry that I have other plans for this Saturday, and may not be able to meet in Shanghai. Hope see you whenever there's a chance.

For the documents, please feel free to let me know for any feedback or extra actions that you'd like to take.

I'll also do another round of review before you finally plan to publish them to the public.

[2019-12-13 16:42] think-in-universe commented on #88
@akru @SotaWatanabe hey guys, sorry that I have other plans for this Saturday, and may not be able to meet in Shanghai. Hope see you whenever there's a chance.

For the documents, please feel free to let me know for any feedback or extra actions that you'd like to take.

I'll also do another round of review before you finally plan to publish them to the public.

[2019-12-14 08:48] SotaWatanabe commented on #88
Hello, @think-in-universe Sorry for the late response. I was in China and my schedule was packed. Currently, my team is reviewing your proposal! Please give us 2 or 3 days. Thank you very much for your contribution. By the way, my WeChat is SotaWatanabe. Feel free to add me!

[2019-12-14 09:28] akru commented on #92
Hey @think-in-universe! Are you interested to apply this?

[2019-12-14 09:35] think-in-universe commented on #88
@SotaWatanabe sure. thanks Sota. No hurry.

I have added you on WeChat 😄 Looking forward to talk more later

[2019-12-14 09:38] think-in-universe commented on #92
@akru sure. I will help with this, and get the article ready today. The deck contains more content but should able be able to be done shortly.

Do I need to apply on GitCoin?

[2019-12-14 09:44] akru commented on #92
@think-in-universe Yes, please use GitCoin to apply this.

[2019-12-14 09:50] think-in-universe commented on #92
@akru cool. Could you please send me the GitCoin link for that?

[2019-12-14 09:53] akru commented on #92
@think-in-universe Please wait a bit,
currently we are waiting for @Web3Foundation to approve this issue on GitCoin.

[2019-12-14 09:56] think-in-universe commented on #92
@akru sure. thanks

[2019-12-14 13:16] think-in-universe commented on #92
Hi @akru Alexander, the article (Plasm Lockdrop Howto / Plasm 锁投指南) has been translated and added into the same Google Document here: https://docs.google.com/document/d/1NzYWzos8cj7zKwzg2KNPEmqHyK5XlWhHoUl_x_iWgjk/edit?usp=sharing

For the deck, do you have its original powerpoint or keynote file? This will make it easy to edit the text. Or what's your recommended way to build a Chinese version of

[2019-12-17 16:50] Web3Foundation commented on #88
@SotaWatanabe Please do ping me whenever you've reviewed and approved so I can issue payment when confirmed all good with @think-in-universe

[2019-12-17 17:22] think-in-universe commented on #88
·@Web3Foundation @SotaWatanabe before your approval, please let me do another round of self-review of the docs tomorrow morning (planned for today but didn't get done yet due to other priorities), and I'll also share my evaluation here whether it's ready to be published and shared to public or not.

Any comments or suggestions are always welcome 😄

[2019-12-18 04:36] think-in-universe commented on #88
@Web3Foundation @SotaWatanabe I have reviewed the docs again, and made quite a few enhancements based on the Japanese version. Please feel free to review that again.

And I think the translated documents should be ready to be shared to the public.

[2019-12-18 04:54] akru commented on #88
@think-in-universe Thank you for your work, I'll review it today.

[2019-12-18 05:47] think-in-universe commented on #88
@akru sure. The major modification are made to the 1st article about the 1st lockdrop. The original English version for that article didn't explain quite a few details precisely and clearly, so I borrowed some content from the Japanese doc and enhanced the translated Chinese version.

[2019-12-18 06:06] #90 closed

[2019-12-18 06:14] satellitex opened #95 "Automatically docker image update"
Travis CI will add automatically docker images on [dockerhub](https://hub.docker.com/orgs/staketechnologies).

Triggered:
1. When updating a new tag.
2. When updating the master branch.

[2019-12-18 09:55] think-in-universe commented on #92
The deck is shared here: https://drive.google.com/file/d/1EctiPGIrFO1Mi_iRnmDTwJq_2w3JrAQY/view?usp=sharing

Please take a look and let me know for any suggestions.

[2019-12-18 12:47] SotaWatanabe commented on #88
@think-in-universe Thank you very much for your updates. This is very helpful for us. @Web3Foundation I approved!! Thank you!

[2019-12-18 13:24] akru commented on #88
@think-in-universe Thank you for your work!

[2019-12-23 14:42] SotaWatanabe commented on #92
@think-in-universe Hello. Thank you for your contribution. Much appreciated!!

[2019-12-23 14:47] SotaWatanabe commented on #92
@Web3Foundation could you fund 200SAI to @think-in-universe? Thank you for your help!

[2019-12-24 11:05] #95 closed

[2019-12-24 20:04] #79 closed

[2020-01-06 08:26] SotaWatanabe commented on #92
@Web3Foundation Happy new year! Could you help us regarding this bounty? cc @think-in-universe

[2020-01-06 08:27] SotaWatanabe commented on #88
@Web3Foundation This one too! Thank you for your help! cc @think-in-universe

[2020-01-07 07:40] satellitex opened #101 "Auto update crates"
**Is your feature request related to a problem? Please describe.**
Currently, The plasm crates are the old versions.
(http://crates.plasm.stake.co.jp/doc/plasm_cli/index.html)
So, we must update it.

**Describe the solution you'd like**
Using new GitHub flow.
Modify make-doc in Makefile.

[2020-01-07 17:54] Web3Foundation commented on #88
@SotaWatanabe thanks so this can be paid out now?

[2020-01-08 04:36] SotaWatanabe commented on #88
@Web3Foundation Yes it is! Thanks!

[2020-01-09 02:45] SotaWatanabe commented on #88
@Web3Foundation Thank you for your help!

[2020-01-09 02:46] #88 closed

[2020-01-09 02:47] SotaWatanabe commented on #92
And this one too @Web3Foundation.  Here is @think-in-universe 's output.
https://drive.google.com/file/d/1Ora541T92YtkDVRFOLTeRyODAyW32ss0/view?usp=sharing

[2020-01-10 04:07] Web3Foundation commented on #92
Yes, looks like this one never got funded to begin with; but the translation was completed @SotaWatanabe ?

[2020-01-10 04:39] SotaWatanabe commented on #92
Yes we have confirmed :D @Web3Foundation This is not funded yet

[2020-01-10 04:47] Web3Foundation commented on #92
Great funding now and reserving for @think-in-universe now :)

[2020-01-10 04:48] Web3Foundation commented on #92
@think-in-universe please just apply / confirm on gitcoin so i can pay out

[2020-01-10 06:44] think-in-universe commented on #92
@SotaWatanabe @Web3Foundation thanks guys. I have submitted via GitCoin.

BTW, should this issue's fund be 200 DAI as @SotaWatanabe and I talked earlier?

[2020-01-10 15:20] Web3Foundation commented on #92
@think-in-universe yes; will add that bonus to it.

[2020-01-11 08:58] SotaWatanabe commented on #92
@think-in-universe yes 200DAI!

[2020-01-13 03:15] think-in-universe commented on #92
@SotaWatanabe @Web3Foundation thanks guys. 😄

I have received the 150 DAI. Then the remaining 50 DAI should be sent via tip?

[2020-01-16 15:45] satellitex commented on #101
https://github.com/settings/apps/new

[2020-01-22 08:45] satellitex opened #105 "Add Cumulus"
**Is your feature request related to a problem? Please describe.**
Add cumulus for joining to relay chain.

**Describe the solution you'd like**
We refer to the below references.

**References**
https://github.com/paritytech/cumulus/blob/joshy-workshop/collator-template/runtime/src/lib.rs#L343
https://github.com/paritytech/cumulus/blob/joshy-workshop/collator-template/src/service.rs#L63
https://gi

[2020-01-24 19:37] Web3Foundation commented on #92
@think-in-universe yes will send an additional tip.

[2020-01-24 19:40] Web3Foundation commented on #92
The bounty can't be changed anymore @think-in-universe please followup with me via email hutch@web3.foundation with your DAI address and i'll get you taken care of

[2020-01-25 12:09] think-in-universe commented on #92
@Web3Foundation thanks. I have sent a follow-up email.

[2020-01-27 06:17] satellitex opened #106 "Refactor: Plasm-staking"
Plasm staking module include the validators setting algorithm and dapps nominating algorithm.
They are individual components. So They should be divide modules.

- (Plasm)session modules.(super substrate_session module)
  - NPoS module.(Setting validators) or PoA module.
  - DappsRewards module.(Currently, plasm-staking module)

[2020-01-28 03:28] akru opened #107 "Multi language docs"
**Motivation**

It’s good to support as many local languages as it possible. One of steps of it is creating easy method to support multiple languages in docs. Currently documentation located in **staketechnologies/plasmdocs** repo.

**Results**

Result for closing this is PR into **staketechnologies/plasmdocs** repo with implementation multi language feature for gitbook generator and moving curren

[2020-01-28 04:46] satellitex commented on #107
Currently, I want to migrate from GitBook to Jekyll.
Like: https://dev.twitch.tv/docs/

[2020-02-01 05:32] SotaWatanabe opened #108 "This is the test."
Discord connection test.

[2020-02-01 05:33] #108 closed

[2020-02-01 05:35] SotaWatanabe opened #109 "Connect Discrod"
This is a test

[2020-02-01 05:37] #109 closed

[2020-02-06 14:34] #101 closed

[2020-02-06 14:37] satellitex opened #111 "Refactor should separate all helper traits to `plasm-support` on Plasm modules."
Refactor should separate all helper traits to `plasm-support` on Plasm modules.
Currently, an operator module has all helper traits.(Because this is a lower dependency).
But, there should migrate to the `plasm-support` module.

[2020-02-06 14:53] satellitex opened #112 "Migrate to NPoS"
**Is your feature request related to a problem? Please describe.**
Plasm Network will migrate to NPoS from PoA.

**Describe the solution you'd like**
We use the self NPoS module referred to the substrate default staking-module.

**Describe alternatives you've considered**
Depends on https://github.com/staketechnologies/Plasm/issues/106
Because we manage both Testnet and Mainnet on a repository.
We

[2020-02-06 19:55] satellitex opened #114 "Import a recovery module."
**Is your feature request related to a problem? Please describe.**
Import a recovery module.
https://github.com/paritytech/substrate/tree/master/frame/recovery

We prefer to be able to recover our wallet. 😄

**Describe the solution you'd like**
Import the above module.

**Describe alternatives you've considered**
--

**Additional context**
--

[2020-02-07 00:32] akru commented on #114
I’m agree that it’s a good feature, but a bit worried that someone else could recover my wallet without me. What’s about more safe schemes to recover wallets like Shamir's Secret Sharing?

[2020-02-09 08:04] akru opened #115 "Create Plasm Network homepage"
**Proposal**

Create Plasm Network homepage at https://plasmnet.io according to @satellitex design stories at https://github.com/staketechnologies/plasmnet.io/issues/1.

**Result**

Make PR into https://github.com/staketechnologies/plasmnet.io repository with a static web page ready to publish into GitHub Pages.

[2020-02-13 06:29] satellitex commented on #115
https://github.com/staketechnologies/plasmnet.io/pull/2

[2020-02-13 06:30] satellitex commented on #115
Fixed:
https://github.com/staketechnologies/plasmnet.io/pull/5
https://github.com/staketechnologies/plasmnet.io/pull/6

[2020-02-17 04:35] satellitex commented on #115
staketechnologies/plasmnet.io#7
staketechnologies/plasmnet.io#8

[2020-02-18 03:59] akru opened #116 "Enable ImOnline module"
**Is your feature request related to a problem? Please describe.**

Currently we have no way to precise monitor PoA validators work, we can’t decide bad validators that don’t produce blocks and good validators with high uptime.

**Describe the solution you'd like**

On-chain monitoring tool like “ImOnline” module helps to log all produced/missed blocks for all validators in chain. It helps to make

[2020-02-20 05:34] akru commented on #115
@Web3Foundation could you fund it $750, please.

This task already completed by @roy1210.

[2020-03-04 08:56] akru commented on #115
@web3foundation could you review it please.

[2020-03-04 13:36] satellitex commented on #115
staketechnologies/plasmnet.io#9

[2020-03-04 22:03] Web3Foundation commented on #115
@akru $750 for this issue? Please ping me on Riot at @Hutch:web3.foundation to discuss further, for any bounties above $150 we need to discuss.

[2020-03-07 08:28] akru commented on #115
Hi @Web3Foundation, I’ve add you in Riot, could you reply me please.

[2020-04-09 02:46] akru opened #127 "plasm-rewards: recursive call"
**Describe the bug**

[code]

This call looks like recursive, probably wanned to use storage reader by foggot.
As I can see this patter (same name for storage and trait methods) looks a bit dangerous and could produce infinite recursion. Unfortunately this place not covered by tests.

**To Reproduce**

```cargo build``` on `bdfe9011` commit.

[2020-04-09 15:45] akru commented on #115
Hello @Web3Foundation, any updates around this issue?

[2020-04-16 14:39] #127 closed

[2020-04-19 03:31] kmn opened #133 "The Dusty Plasm binary files are not recognized as an "xz" file."
**Describe the bug**
Both plasm-node-macOS-0.8-x86_64.tar.xz and  plasm-node-ubuntu-0.8-x86_64.tar.xz are not recoginized as an xz file, and I could not extract them correctly.

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**

Extracting correctly  by `tar Jxfv ...`.

**Additional context**

The plasm-0.7.0-linux-x86_64.tar.xz , which is its previous version, is re

[2020-04-19 06:42] akru commented on #133
Confirm, assets reloaded. Please check again.

[2020-04-19 06:53] kmn commented on #133
Thx for quick response.

Checked and seems fine, I could extract it.

[code]

Close

[2020-04-19 06:53] #133 closed

[2020-04-21 11:18] satellitex opened #136 "First Validator rewards."
**Is your feature request related to a problem? Please describe.**
Add a simple validator rewards algorithm .

**Describe the solution you'd like**
--

**Describe alternatives you've considered**
--

**Additional context**
--

[2020-04-21 13:02] wstotti opened #137 "Error running node."
I have such a problem when running version 0.8.0. Version 0.7.1 worked without problems.

~/plasm/0.8.0# ./plasm-node --validator --name test --rpc-cors 'all' --no-prometheus
2020-04-21 07:28:13 Plasm Node
2020-04-21 07:28:13 _  version 0.8.0-4ea4e9d-x86_64-linux-gnu
2020-04-21 07:28:13 _  by Takumi Yamashita <takumi@stake.co.jp>:Aleksandr Krupenkin <aleksandr@stake.co.jp>, 2019-2020
2020-04-21 07

[2020-04-22 00:43] Web3Foundation commented on #115
Hey @akru just now finalizing details about the revamping of bounties, are you still looking for funding of this issue?

[2020-04-22 04:24] satellitex commented on #137
@wstotti
Could you try `plasm-node purge-chain` ?

[2020-04-22 18:49] Web3Foundation commented on #115
@akru funded for payout now.

[2020-04-22 19:04] iamonuwa commented on #115
I just discovered this bounty is for payout. I'd love to clean up the UI if @Web3Foundation @akru and the team wishes.

[2020-04-22 19:52] psudoanon commented on #115
@akru Just caught up on this thread and it looks like the gitcoin.co bounty is already completed by @roy1210 - should I just cancel my work request?

[2020-04-22 22:49] akru commented on #115
Oh yes, @psudoanon Im apologies for inconvenient, we’ll happy to collaborate with you on next PR, lets keep in touch!

@roy1210 could you apply this please on gitcoin portal?

[2020-04-23 04:29] wstotti commented on #137
~/plasm/0.8.0# ./plasm-node purge-chain
Are you sure to remove "/root/.local/share/plasm-node/chains/dusty/db"? [y/N]: y
"/root/.local/share/plasm-node/chains/dusty/db" removed.
~/plasm/0.8.0# ./plasm-node --validator --name test --rpc-cors all --no-prometheus
2020-04-22 23:25:57 Plasm Node
2020-04-22 23:25:57 _  version 0.8.0-4ea4e9d-x86_64-linux-gnu
2020-04-22 23:25:57 _  by Takumi Yamashita <ta

[2020-04-23 10:00] akru commented on #115
@Web3Foundation could you assign this issue to @roy1210 please.

[2020-04-23 14:46] Web3Foundation commented on #115
@psudoanon yes, this issue should be assigned to @roy1210

[2020-04-23 14:48] Web3Foundation commented on #115
@roy1210 please try to apply now.

[2020-04-23 21:39] roy1210 commented on #115
Hi @akru @Web3Foundation
I clicked `Show interesting`(Something similar word) and `Release bounty` in https://gitcoin.co/issue/staketechnologies/Plasm/115/4253

I guess I can click `Submit work` after funders approve my application. Please help to process :D

[2020-04-23 22:28] Web3Foundation commented on #115
@roy1210 you should now be able to "complete bounty" for your work done that I've approved you.

[2020-04-23 22:36] roy1210 commented on #115
@Web3Foundation Thank you for your reply. Because this is first time I use Gitcoin, Gitcoin is require to some either in order to process submission. Since I don't have any either yet, so I applied faucet which needs few days to approve. I'll update once got faucet from Gitcoin

![スクリーンショット 2020-04-24 午前6 30 14](https://user-images.githubusercontent.com/42575132/80156097-aa5e2600-85f5-11ea-9501-8d

[2020-04-24 15:38] roy1210 commented on #115
Hi @Web3Foundation
I applied `Submit work`. Kindly help to approve my submission, please.

[2020-04-24 16:21] Web3Foundation commented on #115
Done, thanks for the work @roy1210 !

[2020-04-24 16:41] roy1210 commented on #115
@Web3Foundation @akru @satellitex @SotaWatanabe
Received and thank you!
I'll be happy to collaborate with you again :D

[2020-04-24 23:38] akru commented on #115
Nice, thank you @Web3Foundation @roy1210!

[2020-04-24 23:38] #115 closed

[2020-04-28 03:00] satellitex commented on #136
#138

[2020-04-28 03:00] #136 closed

[2020-04-29 07:21] satellitex commented on #106
#123
#124
#125

[2020-04-29 07:21] #106 closed

[2020-04-29 07:24] satellitex opened #140 "Changes Per session time."
Dusty is set that PER_SESSION is 10 min. An ERA is 6 sessions. So, PER_ERA is for 1 hour.
However, this is very short.

We want to change:
https://github.com/staketechnologies/Plasm/blob/v0.9.9/bin/node/runtime/src/constants.rs#L323
The per-session number to 4 hours follows on Polkadot.

Refer of Polkadot code:
https://github.com/paritytech/polkadot/blob/master/runtime/polkadot/src/constants.rs#L3

[2020-04-29 08:07] akru commented on #137
@wstotti could you check it on `v0.9.9`?

[2020-04-29 08:50] satellitex opened #142 "Avoid modules not ready for."
The following original modules do not have the UI/features to be freely invoked by the user.

- [ ] Dapps Staking module.
- [x] Lockdrop module.
- [x] ovm module.

Therefore, in Mainnet v1.0.0, these features should not be implemented in the Runtime.

[2020-04-29 08:53] satellitex opened #143 "Add Authority Discovery"
It's not tested yet, I guess better to test it first time on Dusty. However, this module much more important for permission-less chains, in PoA it's just additional reporting.

This is an important task during NPoS migration.

[2020-04-29 08:53] satellitex commented on #143
Related task: #116

[2020-04-29 14:16] #140 closed

[2020-04-29 14:16] #142 closed

[2020-04-30 07:25] satellitex opened #146 "Operated contracts must use `linked_map`."
**Is your feature request related to a problem? Please describe.**
Any points should use `linked_map`.
https://github.com/staketechnologies/Plasm/blob/dusty/frame/operator/src/lib.rs#L86

[2020-05-05 12:21] satellitex opened #151 "The improve order of Dapps Staking."
# Description
Currently, dapps staking module is heavy order of each era ending/starting.
So, Lighten the cost of each query by putting it in the form of a user-crime reward.

By David

## Required Tasks
- [ ] Improve order of `on_finalize`.
- [ ] Imporve order of `compute` with each era.
- [ ] Add claim methods.

## Estimated done.
5/12.

## Dependencies

[2020-05-05 12:44] satellitex opened #152 "Implementing OVM modules."
# Description
The Ovm module treats the Predicate like a contract of the contracts module, executes the Predicate by the Ovm interpreter implemented, returns the result, and performs the dispute logic.

The predicate can be executed without the concept of gas because it does not contain loops and storage and warm, etc, unlike contracts. So fast and light cost.

## Required Tasks
- [x] OVMi
- [x] O

[2020-05-05 12:45] satellitex opened #153 "Implementing OVM interpreter"
# Description
OVM interpreter.
- From Internal Compiled Predicate JSON to Codec Compiled Predicate.
- Executor from Codec Compiled Predicate
- Atomic Predicates.

## Required Tasks
- [x] OVMi interface
- [x] OVMi details implementing

## Estimated done.
2020/05/22

## Dependencies
#134
Parent: #152

[2020-05-12 05:26] satellitex opened #156 "Dusty reborn"
# Description
Dusty reborn: create new genesis from the current state.

## Required Tasks
- [x] Release 1.0.1-dusty
- [x] publish an article.

## Estimated done.
May 13.

## Dependencies
{Dependencies issue or PR.}

[2020-05-12 16:06] satellitex commented on #156
https://github.com/staketechnologies/Plasm/releases/tag/v1.0.1-dusty
https://link.medium.com/J2o99ASIq6

[2020-05-12 16:06] #156 closed

[2020-05-14 10:44] satellitex opened #159 "Redesign Plasm Docs."
## Proposal
Redesign Plasm Network documentation page at https://docs.plasmnet.io.
https://github.com/staketechnologies/plasmdocs/issues/20

## Result

Make PR into https://github.com/staketechnologies/plasmdocs repository with a GitBooks web page ready to publish into GitHub Pages.

[2020-05-16 17:50] satellitex opened #160 "Implementing Plasma module"
# Description
{write description of what the feature should be}

## Required Tasks
- [ ] Commitment contract func
- [ ] Deposit contract func

## Estimated done.
May 19

## Dependencies

[2020-05-25 11:13] #151 closed

[2020-05-25 11:43] satellitex opened #165 "Refactor Lockdrop module."
# Description
{write description of what the feature should be}

## Required Tasks
- [ ] {task 1}
- [ ] {task 2}
- [ ] ...

## Estimated done.
{When finished this task?}

## Dependencies
{Dependencies issue or PR.}

[2020-05-27 02:33] satellitex opened #166 "Implemented Deposit Contract part."
# Description
Implemented a deposit contract.
https://github.com/cryptoeconomicslab/ovm-contracts/blob/master/contracts/DepositContract.sol

Into Plasma module.

## Required Tasks
- [ ] {task 1}
- [ ] {task 2}
- [ ] ...

## Estimated done.
{When finished this task?}

## Dependencies
#160

[2020-05-27 02:37] satellitex opened #167 "Add Keccak hash tests(verify inclusion) in Plasma module."
# Description
Add Keccak hash tests from 2.0.0-rc1.(for using Keccak).

## Required Tasks
- [ ] Tested to verify inclusion on Plasma module.

## Estimated done.
{When finished this task?}

## Dependencies
#160

[2020-05-27 03:43] satellitex opened #168 "Add secp256k1 signature tests from 2.0.0-rc1.(for using secp256k1)."
# Description
Added secp256k1 signature tests.

## Required Tasks
- [ ] {task 1}
- [ ] {task 2}
- [ ] ...

## Estimated done.
{When finished this task?}

## Dependencies
#152

[2020-05-27 07:39] satellitex opened #169 "Make branch for Plasm childchain connection."
# Description
Create a branch to test the connection with the Plasma child chain.

## Required Tasks
- [ ] {task 1}
- [ ] {task 2}
- [ ] ...

## Estimated done.
6/1

## Dependencies
{Dependencies issue or PR.}

[2020-05-27 07:41] #153 closed

[2020-06-02 06:46] satellitex commented on #159
@web3foundation

[2020-06-03 14:38] #92 closed

[2020-06-09 08:02] #159 closed

[2020-06-11 07:49] #166 closed

[2020-06-11 07:50] satellitex opened #177 "Execution Compiled Predicate."
# Description
{write description of what the feature should be}
Execution compiled predicate on ovmi.

## Required Tasks
- [ ] {task 1}
- [ ] {task 2}
- [ ] ...

## Estimated done.
{When finished this task?}

## Dependencies
{Dependencies issue or PR.}

[2020-06-14 20:47] Poggi-Luca opened #178 "Dusty v1.1.0 - Local Node - Bug with WebSocket connection"
**Describe the bug**
The WebSocket connection using Local Node (Own, 127.0.0.1:9944) option in "Settings" page of Plasm Portal (apps.plasmnet.io) doesn't work properly. The connection establishes, but no blocks number updates and other functions work.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch node Dusty v1.1.0
2. Connect to node with ssh and port forwarding: `ssh -L 9944:127.0.0

[2020-06-15 08:27] akru commented on #178
Thank you for reporting, I’ve confirm it, UI should be updated soon. Please wait a bit.

[2020-06-15 16:57] Poggi-Luca commented on #178
Ok thank you :)

[2020-06-17 02:47] SotaWatanabe opened #180 "Read.me Update"
Please update the Read.me as follows.

Discord -> Technical Discussion
Telegram -> Common Group

And add
- [Documentation](https://docs.plasmnet.io/)

[2020-06-17 03:29] akru commented on #180
Updated, in dusty branch too
https://github.com/staketechnologies/Plasm/commit/a926f5f81078d3321e1c0f400fb2372f6b18ac27

[2020-06-19 10:26] satellitex opened #181 "Community Rewards."
# Description
Implementing dApps Rewards for Community Rewards algorithm.

## Required Tasks
- [ ] Changes `ComputeTotalPayout algorithm` on Plasm Rewards module.
- [ ] Changes `ComputeRewardsForDapps` algorithm on Dapps rewards module.
- [ ] Added invalid check for community rewards.
- [ ] Added tests.

## Estimated done.
7/6.

## Dependencies

[2020-06-23 07:32] satellitex commented on #167
@shuhei176

[2020-06-23 07:35] satellitex opened #182 "checkpoint predicate and exit predicate migrate to ovm module."
# Description
Checkpoint predicate function and Exit predicate function should be included by the ovm module.

## Required Tasks
- [ ] Checkpoint predicate on ovm module.
- [ ] Exit predicate on ovm module.
- [ ] ...

## Estimated done.
{When finished this task?}

## Dependencies
{Dependencies issue or PR.}

[2020-06-23 07:37] satellitex opened #183 "Connect ovmi on ovm module."
# Description
Connecting ovmi on the ovm module.
https://github.com/cryptoeconomicslab/ovm-contracts/pull/185/files#diff-796367d09ae685ffc83390f5dfe187b5

## Required Tasks
- [ ] ExternalCall on ovm module.
- [ ] Added call ovmi on ovm module.
- [ ] ...

## Estimated done.
{When finished this task?}

## Dependencies
{Dependencies issue or PR.}

[2020-06-23 07:37] #169 closed

[2020-06-23 07:39] satellitex opened #184 "Implementing ERC20 contracts(wPLM)."
# Description
Implementing ERC20 contracts as wrapped PLM.

## Required Tasks
- [ ] Added ink! contract.
- [ ] ...

## Estimated done.
{When finished this task?}

## Dependencies
{Dependencies issue or PR.}

[2020-06-23 07:40] satellitex opened #185 "Implementing Payout contracts."
# Description
Implementing a payout contract in ink!.

## Required Tasks
- [ ] {task 1}
- [ ] {task 2}
- [ ] ...

## Estimated done.
{When finished this task?}

## Dependencies
{Dependencies issue or PR.}

[2020-06-23 07:42] satellitex opened #186 "Calling payout/erc20 contracts from the plasma module."
# Description
Calling payout/erc20 contracts from the plasma module.

## Required Tasks
- [ ] {task 1}
- [ ] {task 2}
- [ ] ...

## Estimated done.
{When finished this task?}

## Dependencies
{Dependencies issue or PR.}

[2020-06-27 13:52] SotaWatanabe opened #192 "Can't install the Plasm Node."
I am using MacOS.

Build command
`cargo install --force —locked  --git https://github.com/staketechnologies/Plasm --tag v1.0.0 plasm-cli`

Rust version: rustc 1.44.1 (c7087fe00 2020-06-17), rustup 1.21.1 (7832b2ebe 2019-12-20), cargo 1.44.1 (88ba85757 2020-06-11)

here is an error I got.
---------------------------------------------------------------
thread 'rustc' panicked at 'if we got here, it

[2020-06-28 01:17] akru commented on #192
Looks like this one is connected: https://github.com/rust-lang/rust/issues/73659

I can recommend to rollback previous nightly:

[code]

[2020-06-28 03:57] SotaWatanabe commented on #192
<img width="565" alt="スクリーンショット 2020-06-28 12 56 10" src="https://user-images.githubusercontent.com/29359048/85937481-e8056500-b93e-11ea-9118-93d39537e8d1.png">

`rustup install nightly-2020-06-20
`
doesn't work...

[2020-06-28 04:30] akru commented on #192
I see, let's try `rustup install nightly-2020-06-01` or different date before 20th, probably this component missed at this date.

[2020-06-28 06:27] SotaWatanabe commented on #192
I have tried it but This code doesn't work........................

-------------------------------------
thread 'rustc' panicked at 'if we got here, it must be const', src/librustc_mir/transform/const_prop.rs:977:34
note: run with `RUST_BACKTRACE=1` environment variable to display a backtrace

error: internal compiler error: unexpected panic

note: the compiler unexpectedly panicked. this is a bu

[2020-06-28 07:03] akru commented on #192
As I can see from error log, version of used rust compilers is same, latest rust nightly looks broken on MacOS.

Is it acceptable to use precompiled binary for you?  https://github.com/staketechnologies/Plasm/releases/tag/v1.0.0 it’s available for MacOS too.

Unfortunately nightly rust compiler sometimes isn’t works well because of nightly is bleeding edge of development.

[2020-06-29 20:31] #168 closed

[2020-07-02 05:01] #177 closed

[2020-07-02 08:24] #165 closed

[2020-07-06 02:17] syuhei176 commented on #167
The interface of `verify_state_update_inclusion` at commitment contract is different from `ext_verify_inclusion_with_root`.
`ext_verify_inclusion_with_root` is fine. We should modify `verify_state_update_inclusion` as well as its test.

ext_verify_inclusion_with_root : https://github.com/staketechnologies/Plasm/blob/feature/runtime-with-plasma/ovmi/lib/src/executor.rs#L133
verify_state_update_incl

[2020-07-06 03:25] syuhei176 commented on #167
created polkadot version of test data for verify inclusion cases.
https://github.com/cryptoeconomicslab/gazelle-substrate/pull/30/files

[2020-07-15 06:58] Imresud opened #200 "bitcoin-script v0.1.1"
Compiling bitcoin-script v0.1.1
error[E0554]: `#![feature]` may not be used on the stable release channel
   --> /Users/imre/.cargo/registry/src/github.com-1ecc6299db9ec823/bitcoin-script-0.1.1/src/lib.rs:117:1
    |
117 | #![feature(proc_macro_hygiene)]
    | ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

[2020-07-15 09:29] akru commented on #200
Hello @Imresud ! Could you try to build using rust nightly?

[2020-07-15 11:45] sl-he commented on #200
Same issue. I'm tried to start compiling with this oneliner:
_curl https://sh.rustup.rs -sSf | sh && source $HOME/.cargo/env && rustup update nightly && rustup target add wasm32-unknown-unknown --toolchain nightly && cargo install --git https://github.com/alexcrichton/wasm-gc && cargo install --force --git https://github.com/staketechnologies/Plasm --tag v1.2.1-dusty plasm-cli && cargo build --rel

[2020-07-15 11:57] akru commented on #200
Yes, from now, nightly is required to build the binary:

cargo +nightly build —release

I’ll fix README, thank you!

[2020-07-19 07:59] Imresud opened #203 "Dusty 1.3.0 error on mac"
Compiling tokio-rustls v0.13.1
error[E0599]: no method named `sign` found for struct `ed25519_dalek::keypair::Keypair` in the current scope
  --> /Users/imre/.cargo/registry/src/github.com-1ecc6299db9ec823/libp2p-core-0.19.2/src/identity/ed25519.rs:55:16
   |
55 |         self.0.sign(msg).to_bytes().to_vec()
   |                ^^^^ method not found in `ed25519_dalek::keypair::Keypair`
   |
  :::

[2020-07-19 08:24] akru commented on #203
Hello,

This is error in substrate dependency, could you add —locked key to build command. It prevent cargo to get new versions of dependencies.

[2020-07-19 13:57] Imresud commented on #203
with --locked key even more errors:

  Compiling rustls v0.17.0
error[E0599]: no method named `sign` found for struct `ed25519_dalek::keypair::Keypair` in the current scope
  --> /Users/imre/.cargo/registry/src/github.com-1ecc6299db9ec823/libp2p-core-0.19.2/src/identity/ed25519.rs:55:16
   |
55 |         self.0.sign(msg).to_bytes().to_vec()
   |                ^^^^ method not found in `ed25519_dal

[2020-07-19 14:18] akru commented on #203
Could you put here command what you use for it please.

[2020-07-19 20:02] Imresud commented on #203
cargo install --force --git https://github.com/staketechnologies/Plasm -- locked --tag v1.3.0-dusty plasm-cli

[2020-07-20 02:39] akru commented on #203
@Imresud thank you, I'll try to reproduce it on Mac and come back.

[2020-07-21 08:20] satellitex commented on #203
@Imresud
Please try the below commands.
`cargo install --force --locked --git https://github.com/staketechnologies/Plasm --tag v1.3.0-dusty plasm-cli`

[2020-07-21 16:10] Imresud commented on #203
i get this error now ...

Compiling bitcoin-script v0.1.1
error[E0554]: `#![feature]` may not be used on the stable release channel
   --> /Users/imre/.cargo/registry/src/github.com-1ecc6299db9ec823/bitcoin-script-0.1.1/src/lib.rs:117:1
    |
117 | #![feature(proc_macro_hygiene)]
    | ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

error: aborting due to previous error

For more information about this error, tr

[2020-07-21 20:35] akru commented on #203
@Imresud this error happens because of Rust version. Please use nightly rust.

cargo +nightly install --force --locked --git https://github.com/staketechnologies/Plasm --tag v1.3.0-dusty plasm-cli

If you use rustup script.

[2020-07-22 10:16] Imresud commented on #203
works now

[2020-07-22 10:16] Imresud commented on #203
thx

[2020-07-23 02:10] #203 closed

[2020-07-23 04:29] satellitex commented on #192
Similar problem.
https://github.com/staketechnologies/Plasm/issues/203

[2020-07-23 04:29] #192 closed

[2020-07-23 04:59] satellitex opened #204 "Substrate can not use `String` type, so ovmi should not use `String` types on no_std."
# Description
{write description of what the feature should be}

Separate structures that use String type for Serialize and structures that use Vec<u8> type for no_std.
Create the Derive Macro `BytesVecSerde` to generate and convert them automatically.

## Refer
https://docs.rs/quote/1.0.7/quote/
https://docs.rs/syn/0.11.11/syn/struct.Field.html

## Required Tasks
- [ ] {task 1}
- [ ] {task 2}
- [

[2020-07-23 05:01] #184 closed

[2020-07-23 05:01] #183 closed

[2020-07-24 08:10] SotaWatanabe opened #206 "Trial: Deploy Your Smart Contract on Plasm Network!"
### Introduction

The core dev of Plasm Network launched the mainnet almost 3 months ago. Since then, the network is working well and it supports layer1 smart contract functionalities. YOU CAN DEPLOY YOUR SMART CONTRACT NOW! In addition to that, the network supports solang compiler. This means that you can deploy Solidity smart contracts. If you have already deployed solidity contracts on Ethereum

[2020-07-24 12:57] JuMorcego opened #207 "Inovações tecnológicas"

[2020-07-24 14:42] #207 closed

[2020-07-24 19:08] #204 closed

[2020-07-25 09:22] Poggi-Luca commented on #206
YcVheTnxyzQdUU3inbqmYN5Eu2GRfn92jxM64c8PaJRvYSo

[2020-07-28 04:40] t8m8 opened #208 "Resolve build error on dapps-staking"
# Description
A build error happens on dapps-staking after merging

## Required Tasks
- fix scope looking

## Estimated done.
7/28

## Dependencies

[2020-07-28 06:04] t8m8 commented on #208
included in #172

[2020-07-28 06:04] #208 closed

[2020-07-28 07:54] #181 closed

[2020-07-30 07:31] Poggi-Luca commented on #206
YcVheTnxyzQdUU3inbqmYN5Eu2GRfn92jxM64c8PaJRvYSo

[2020-07-30 08:35] realtakahashi commented on #206
YJjwZXmnX941jmS2K9GP2ktgxNmyFTrEVcRLKXBaLj71a3y

[2020-07-30 09:30] lythongart commented on #206
XeyNjnFKsd83XpGTgY3kBvjbQ7fNtnNWe2CEepY5weC5abP

[2020-07-30 10:24] pzolaem commented on #206
bV2X4ACQKvSu3aVZe7xyns4eBwEFFtqi9ViWN1SdJte5haA

[2020-07-30 13:05] MlemMlem1530 commented on #206
ZhXjhSm27ddMaDxfMFk1RoeHPNuP5jP6FZoremCEXXMzN7s

[2020-07-30 19:14] JackHammer1987 commented on #206
Z5Qo4xrrqws4xGSDkA4rqptaxJQ5RthgstUK2iDZ6peaXvq

Thanks Guys

[2020-07-30 19:37] LilBruh-coder commented on #206
WAnznMUDwJoEce7wWCtfKreJvephXB5kT3tvL47yhWeDbEi

[2020-07-31 04:01] Mtu1501 commented on #206
ZjygEagFuSGajGV2wcrx9bPWBMawSpTUbJ9MzmQ44KU38co

[2020-07-31 04:34] Jacky120597 commented on #206
a7d1NTCzbpHdtRmgSSiPVrWYDK16uMeoNSaA7wVvkvkDjxm

[2020-07-31 08:57] DangQuangVu314 commented on #206
a4WgUnXXSTLVwcfRXadsrrucaudZvagrzedqnBhHyrcY8ZA

[2020-07-31 09:44] SotaWatanabe commented on #206
It seems that there are 10 first participants! Please send me your contract address after deploying the contract.

[2020-07-31 10:00] RecoiI commented on #206
In queue :)
aA3BQxNNUVSsNXTsgarjbbJCPWuoLjDKnfbrC3t7RiuuR55

[2020-07-31 10:46] TomaszWaszczyk commented on #206
Any contract or there are some requirements regarding the contract?

[2020-08-02 06:07] satellitex commented on #182
Checkpoint Dispute
https://github.com/cryptoeconomicslab/ovm-contracts/blob/master/contracts/Dispute/CheckpointDispute.sol

Exit Dispute
https://github.com/cryptoeconomicslab/ovm-contracts/blob/master/contracts/Dispute/ExitDispute.sol

[2020-08-03 07:29] satellitex commented on #182
Dposit Contract
https://github.com/cryptoeconomicslab/ovm-contracts/blob/feature/update-deposit-contract/contracts/DepositContract.sol
Commitment Contract
https://github.com/cryptoeconomicslab/ovm-contracts/blob/feature/update-deposit-contract/contracts/Commitment.sol

[2020-08-11 07:17] nelsonmfinda commented on #206
b97cweGGjbj3sHd2UBfjyJJnqKGwHEABWpCjjgSR1yfYv7X

[2020-08-11 07:25] SotaWatanabe commented on #206
Hello All! Please apply for the web3 grant as well! @Poggi-Luca @realtakahashi @lythongart @pzolaem @MlemMlem1530 @JackHammer1987 @LilBruh-coder @Mtu1501 @Jacky120597 @DangQuangVu314.

Due Date: 2020/08/15
I am going to the codes.

If something wrong, I am going to give the participation ticket to the members in the queue.

[2020-08-11 08:53] pzolaem commented on #206
Can you give me a form or something like that?

[2020-08-11 08:58] SotaWatanabe commented on #206
@pzolaem Click "express interest" on this page!
https://gitcoin.co/issue/staketechnologies/Plasm/206/100023509

[2020-08-11 10:04] Poggi-Luca commented on #206
@SotaWatanabe I applied for Web3 Grant! Thank you :)

[2020-08-14 16:13] vbstreetz commented on #206
5EPSsXGELdWibotgog8JbM3oGSz1gXZDyKg3ssc7hL95AhEY

[2020-08-15 16:15] vimm007 opened #217 "Error on ulpoading wasm and metadata"
Following instruction https://docs.plasmnet.io/workshop-and-tutorial/operator-trading I have generated and download “sample.wasm” and “metadata.json”.
I using chrome browser
https://apps.plasmnet.io/#/contracts/code
with Plasm endpoint wss://rpc.plasmnet.io/
Then I trying to upload they, but after clicking the "upload" button, nothing happens. There is an error in the console.
![image](https://use

[2020-08-15 16:18] akru commented on #217
Unfortunately, contracts pallet in Plasm mainnet isn’t active yet. This error will be fixed during coming mainnet upgrade.

[2020-08-17 03:28] SotaWatanabe commented on #206
Hello @web3foundation. I have confirmed that @Poggi-Luca, @realtakahashi, @JackHammer1987, @pzolaem, @Mtu1501, @lythongart, @MlemMlem1530, @DangQuangVu314 , @LilBruh-coder, @Jacky120597 deployed their contracts.

@web3foundation. Could you approve the workers when you have time :)?

[2020-08-20 13:01] SotaWatanabe opened #221 "Plasm Network Professional Marketing Movie"
**Problems**
Plasm Network is a technical project. Currently, the core team is focusing on products and technical functionalities. We are looking for a team or individual who can work on marketing.

**Tasks**
- Make professional marketing movies both in English and in your local language.
- The movie should include general information, Polkadot explanation, layer2, community reward, and lockdrop.

[2020-08-20 20:58] Web3Foundation commented on #206
@SotaWatanabe Done! Feel free to ping again on next steps.

[2020-08-21 00:07] ltfschoen commented on #206
Xoq9TVNanjYbyq9ReMeh9bpKhZi85eLELAETVKVrPGkadkj

[2020-08-21 03:36] GlobalSG commented on #221
Polkadot Ecosystem PromoTeam are going to make:
1.Promo video for 25-30 second for social network regarding the 2 lockdrop with main facts about 2 lockdrop
2.The light review of Polkadot and Plasm Network , the discription of 1 lockdrop  and tutorial for 2 lockdrop, step by step
3.Promotion of 2 this videos in Social Networks and Polkadot community
4.As 2 step we can make a video about layer2 and

[2020-08-21 03:58] SotaWatanabe commented on #206
@Web3Foundation thank you for your dedicated supports!  I really appreciate it!

[2020-08-22 12:05] SotaWatanabe opened #222 "Chinese Plasm Network Article"
**Problem**
China is an important market for us, but we don't have a Chinese speaker and writer internally. Hence, we are looking for a Chinese native who can write an article about Plasm Network.

**Requirements**
The article should include
1. Plasm's Parachain Auction Strategy
2. Token Economics (Total supply, lockdrop, and technical milestones)
3. General information of layer2, especially the O

[2020-08-27 15:21] GlobalSG commented on #221
Hi , we finished main video - https://www.youtube.com/watch?v=yzYpzq1rfpc&feature=youtu.be
Here is the short promo video, that will be used with main one https://www.youtube.com/watch?v=uFsWw-iGUt8

We did this video with journalistic  approach, professional scenario and filming. You can see it on video. Our team is really hope you like it, and it brings much more fans to Plasm Network.
This work

[2020-08-31 08:03] hpzxk commented on #222
Contact Sota through WeChat, apply for this article.

[2020-09-01 09:37] hpzxk commented on #222
Published on bihu.com, https://bihu.com/article/1612886675

[2020-09-02 04:50] GlobalSG commented on #221
https://www.youtube.com/watch?v=W2rlcCvMv7w additional video tutorial for lockdrop in English
https://www.youtube.com/watch?v=5FoZv14JYWA additional video tutorial for lockdrop in Russian

[2020-09-03 14:48] SotaWatanabe commented on #222
Thank you for working on this @hpzxk. Our Chinese dev confirmed this amazing work! I just ask @web3foundation to confirm your work!

[2020-09-03 15:21] hpzxk commented on #222
You're welcome! Try my best to write good article is responsible for great project and my readers!

[2020-09-03 15:22] SotaWatanabe commented on #221
Awesome! Thanks for your support. Lock drop seems to be successful. I have checked this and he has already spread this in various channels. Thanks! @web3foundation thank you for your help! I have confirmed this.

[2020-09-04 08:44] GlobalSG commented on #221
Thanks @SotaWatanabe ,  thanks to @Web3Foundation , we did the video and YouTubers begin doing the same videos after us, because they see the model they can earn PLM.  All together we generate the hype and broke Metamask  :)  Some of YouTubers are even more successful than us as introducer, because of their audience, but we give the model. Hope we can do such a smart steps next time...

[2020-09-05 00:02] realtakahashi opened #226 "Contract execution is always "system.ExtrinsicFaild other"."
1.I use "ink playground"(https://ink-playground.com/) to create a smart contract.
 - Compile the code of sample as it is without changing the code.

2.Download the created wasm and json.

3.Then go to "dusy testnet" (https://dusty.plasmnet.io/) and upload wasm and json.

4.Upload wasm and json from the OP Contracts page.

5.Deploy the uploaded contract. The parameters are as follows.
 - init_value

[2020-09-06 08:56] realtakahashi commented on #226
I could get a little more information.
I ran "sample.wasm" from two different Web Interfaces.
The result is below.
 - OK:https://apps.placement.io/#/contracts
 - NG:https://dusty.placement.io/#/operated-contracts

I guess this is problem of web interface.

[2020-09-07 09:53] SotaWatanabe opened #227 "Locked Token Not Founded"
**Describe the bug**
A community member locked ETH but the locked ETH isn't reflected on the page like below

<img width="1282" alt="Screen Shot 2020-09-07 at 18 49 46" src="https://user-images.githubusercontent.com/29359048/92374725-18d1f980-f13b-11ea-817c-2cf83748dc5a.png">

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'The lockdrop page'
2. Click on 'Unlock token''
3. See error

*

[2020-09-07 09:55] hoonsubin commented on #227
the current API that we use only allows the users to obtain up to 1000 locks per access. How much global lock item does the user have?

[2020-09-08 01:03] SotaWatanabe commented on #221
@web3foundation This task has been submitted and I have confirmed @GlobalSG 's work!

[2020-09-08 02:34] Web3Foundation commented on #221
Bounty paid, thanks for the effort @GlobalSG !

[2020-09-08 08:04] Web3Foundation commented on #222
@hpzxk please go through https://gitcoin.co/issue/staketechnologies/Plasm/222/100023552 so that we can approve you and make a payout via Gitcoin. Thanks!

[2020-09-08 09:08] TomaszWaszczyk commented on #206
Open or closed?

[2020-09-09 03:08] #221 closed

[2020-09-13 05:49] SotaWatanabe opened #228 "Chinese Plasm Network White Paper"
# Description
China is an important market. Nowadays, our Chinese community is getting bigger and bigger (become 3 times bigger in the last month) thanks to the community member. Hence, Plasm Network is a technical product, we would like the community members to understand more about technical features rather than flimsy information.

## Required Tasks
- Translate the English white paper into Chin

[2020-09-15 02:58] hpzxk commented on #222
Hi, I left a reply 7 days ago on gitcoin, hope you can check that. @SotaWatanabe

[2020-09-17 09:27] Web3Foundation commented on #222
Hey @hpzxk we have approved you via Gitcoin, please make a work submission and we can proceed with the payout. Apologies for the holdup!

[2020-09-17 09:28] SotaWatanabe commented on #222
hello @hpzxk Thank you for writing this! @Web3Foundation it would be great if you could approve this at your earliest convenience.

[2020-09-17 09:34] hpzxk commented on #222
Submitted on Gitcoin, thanks a lot.

[2020-09-24 08:32] Eunice-Lu commented on #228
[*Plasm 白皮书*.pdf](https://github.com/staketechnologies/Plasm/files/5274546/Plasm.pdf)

This is a translation by Eunice Feng from BML

[2020-09-24 15:03] TomaszWaszczyk commented on #222
What about article in Polish language? Hot or not? ;-)

[2020-09-25 14:48] SotaWatanabe commented on #228
Cool! @web3foundation Our Chinese dev checked the translation! Please approve the task!

[2020-09-25 18:03] Samali1222 opened #233 "Having Issues with the lockdrop"
Hey there
can you guys plz help me out with the Claimed Lockdrop was  Declines and i cant claim my PLD.And my ETH is still lock im going to attach Picture to see if that could help me show you what im talking about
![Pla](https://user-images.githubusercontent.com/67750171/94300945-9446ef80-ff1e-11ea-81c0-5d3fe6014ebd.JPG)

[2020-09-25 18:58] Web3Foundation commented on #228
@SotaWatanabe @Eunice-Lu you must apply on gitcoin for the bounty for us to pay it out!

[2020-09-28 02:52] hpzxk commented on #222
Submitted 11 days ago, any news?

[2020-09-30 23:00] Imresud opened #234 "installation issue on Pi"
Compiling async-trait v0.1.38
error: failed to run custom build command for `prost-build v0.6.1`

Caused by:
  process didn't exit successfully: `/tmp/cargo-installMhMLqj/release/build/prost-build-e4aeeeb25b5be335/build-script-build` (exit code: 101)
  --- stderr
  thread 'main' panicked at 'Failed to find the protoc binary. The PROTOC environment variable is not set, there is no bundled protoc fo

[2020-10-01 03:08] akru commented on #234
Hi, as I can see protobuf isn’t installed. If protoc already installer please set PROTOC env var point to it.

[2020-10-01 11:21] mojikimino opened #235 "The plasm-node process is stopped when it connects other peers"
Hi Plasm network developers. When I start the dusty network node in ubuntu, the process stops with the following error. Is it my configuration issue or the software issue (e.g., rust)? Let me know if you have any solutions? Thank you.

[code]

[2020-10-01 23:08] akru commented on #235
Hi @mojikimino,
Thank you for report! Arm64 isn’t officially supported architecture. I’ll review it a bit later.

You also can try to sync in wasm mode, —execution wasm flag, it should works but take a bit of time.

[2020-10-01 23:09] #200 closed

[2020-10-01 23:10] #178 closed

[2020-10-01 23:10] #137 closed

[2020-10-04 00:09] akru opened #236 "DApp staking: representative errors"
# Description

Let’s use custom module error to make module errors clean for the end user.

[2020-10-04 00:13] akru opened #237 "DApp staking: nominating contracts without operator"
# Description

This is very often error, end user tries to nominate operator that don’t bounded yet. What’s about to make dedicated error here or fix it via UI.

[2020-10-05 09:17] Web3Foundation commented on #228
@Eunice-Lu please make a work submission via Gitcoin. GAS fees are low today so we can make the payout :)

[2020-10-05 13:17] Eunice-Lu commented on #228
[*Plasm 白皮书*.pdf](https://github.com/staketechnologies/Plasm/files/5274574/Plasm.pdf)

Hi
I submitted the work, and attached the PLM wallet adress.

[2020-10-05 22:25] realtakahashi commented on #236
@akru
I would like to propose a source code modification for this issue.
So, first, I modified dapps-staking / src / lib.rs to return DispatchResult and confirmed that it works.
However, looking at other pallet modules, some are implemented and some are not.
Is it worth suggesting only a fix for dapps-staking / src / lib.rs?

Also, please tell me if there are any rules for making a pull request.

[2020-10-06 04:38] SotaWatanabe commented on #228
@Eunice-Lu Ethereum wallet address should be attached because the payment is in DAI

[2020-10-06 04:38] #222 closed

[2020-10-10 04:12] Eunice-Lu commented on #228
Hi～Here is the Ethereum wallet address：0x11675B8A0366c71c8ed7d760d5E887dfAB355eBf

[2020-10-10 04:16] Eunice-Lu commented on #228
@SotaWatanabe
Hi～Here is the Ethereum wallet address：0x11675B8A0366c71c8ed7d760d5E887dfAB355eBf

[2020-10-10 05:18] SotaWatanabe commented on #228
The white paper has been submitted above. @Web3Foundation could you approve his work?

[2020-10-10 07:37] sowson8 opened #239 "PLM tokens transfer from ecdsa to sr25519 issue"
Hi
I will describe step by step:
1. claim plm before ecdsa account creation ( around 2nd of September)
2 creation ecdsa account on substrate layer( ZYWnAfCenUTNPb3KuKRNhasqj7DcthXXoTRrmK4cwwHJmzK) token was invisible .
3. creation one more time ecdsa account on apps.plasm. token visible
4. creation of account sr25519 on substrate layer ( bZeaE2drTuTTCAMVK4j2ABFNtGxWnZKcJgs1CTifsF2uw5V)
5. creation

[2020-10-13 11:20] Imresud opened #240 "installation error 1.6.0 on mac"
Compiling ovmi v0.1.0 (/Users/imre/.cargo/git/checkouts/plasm-7ef01d8204e28a62/1dc78cc/ovmi/lib)
  error[E0282]: type annotations needed
      --> /Users/imre/.cargo/registry/src/github.com-1ecc6299db9ec823/sp-arithmetic-2.0.0/src/fixed_point.rs:541:9
       |
  541  |                   let accuracy = P::ACCURACY.saturated_into();
       |                       ^^^^^^^^ consider giving `accuracy`

[2020-10-13 11:25] realtakahashi commented on #240
@Imresud
I got a same error before.
But I can resolve this one.
Please try following comands.
[code]

I refered this site.
https://github.com/substrate-developer-hub/substrate-node-template/issues/90

[2020-10-13 13:43] Imresud commented on #240
Fine ... worked

[2020-10-13 13:43] #240 closed

[2020-10-14 02:12] #239 closed

[2020-10-14 12:43] SotaWatanabe opened #241 "[Beginner] Deploying Solidity Contract on Plasm Network V1"
<img width="1001" alt="HelloWorld_2" src="https://user-images.githubusercontent.com/29359048/95955411-bfdf3a80-0e37-11eb-81b8-4c600ad67f52.png">

# **[Hello World! by Polkadot](https://gitcoin.co/hackathon/polkadot/)**

**Gitcoin has integrated [Polkadot](https://polkadot.network/) and [Kusama](https://kusama.network/) tokens (DOT and KSM) into its tech stack**, making them one of the first full i

[2020-10-14 13:19] #241 closed

[2020-10-18 15:06] SotaWatanabe opened #242 "Organizing Chinese Online AMA/Meetup"
# Plasm Network
Plasm Network is a multi-virtual machines scalable smart contract platform on Polkadot supporting cutting-edge layer2 solutions. Recently, Plasm Network announced the vision of an Ethereum compatible network and supported the Ethereum Virtual Machine on it’s testnet. Polkadot Relaychain doesn’t support smart contract functionalities by design. Thus, all DApps developers need at lea

[2020-10-21 04:48] SotaWatanabe opened #243 "Plasm Network Testnet Faucet"
# Plasm Network
Plasm Network is a multi-virtual machines scalable smart contract platform on Polkadot supporting cutting-edge layer2 solutions. Recently, Plasm Network announced the vision of an Ethereum compatible network and supported the Ethereum Virtual Machine on it’s testnet. Polkadot Relaychain doesn’t support smart contract functionalities by design. Thus, all DApps developers need at lea

[2020-10-22 11:17] anhcao142 opened #244 "Failed to get `frontier-rpc` as a dependency"
Getting error when trying to build the source code:

My installation commands:
[code]

Error
[code]

My Mac OS version: 10.15.6

[2020-10-22 12:36] realtakahashi commented on #244
It seems that the cause is that the following directories cannot be cloned.
"Plasm / vendor / frontier @ a20b5b9"
So I went to the link for this directory, "https://github.com/staketechnologies/frontier.git", deleted the empty frontier directory, and cloned it.

or "paddyson" teach me on Discord.
git submodule init
git submodule update

[2020-10-22 13:39] anhcao142 commented on #244
I can't get the joke but it works. Thank you very much

[2020-10-22 13:39] #244 closed

[2020-10-23 08:41] Eunice-Lu commented on #228
@SotaWatanabe @Web3Foundation Hi~we still not received the DAI, is there any more information we should approve?
and the Ethereum wallet address：0x11675B8A0366c71c8ed7d760d5E887dfAB355eBf

[2020-10-24 06:28] Eunice-Lu commented on #242
we have done the online AMA， and already made "contributor applied" on git coin
![Uploading 截屏2020-10-24 14.23.40.png…]()

[2020-10-24 09:27] seanyoung opened #245 "Plasm contracts module is based on Substrate 2.0.0-rc4. Substrate 2.0 has been released."
See: https://github.com/staketechnologies/Plasm/blob/dusty/vendor/contracts/Cargo.toml#L3

Recent versions of Solang do not work on Plasm because they depend on Substrate 2.0.

[2020-10-25 04:53] akru commented on #245
Thank you very much for report, contracts pallet upgrade was delayed because of backward compatibility issues with ecosystem tools. From now everything is ready and new contracts pallet will be applied in next release.

[2020-10-27 06:54] master-davidlee commented on #226
yeah I meet the same error I dont't  what's wrong

[2020-10-28 01:37] SotaWatanabe commented on #242
Thank you for having organized a meetup online. @Eunice-Lu

@web3foundation I have participated in an online meetup hosted by Bluemountain Lab 2 days ago and presented Plasm Network in Chinese and English. Their meetup was well organized. Please approve of his work. Thank you in advance.

[2020-11-09 11:27] realtakahashi commented on #243
I have a question.
I wanted to implement Plasma faucet and did a lot of research.
I would like to implement an unsigned transaction that meets the following requirements. What do you think of this idea?
-If the destination address is the same, it will not be sent unless a certain block number advances.
-Set the PLD to be sent at one time to 1,000.

[2020-11-09 15:52] SotaWatanabe commented on #243
Thank you for your interest @realtakahashi. I appreciate it! LatireMo (Discord ID) has been already working on this now ;)

[2020-11-09 21:32] realtakahashi commented on #243
OK. It was late to work on it. I am looking forward to the completion. If the source is released, I will show it for study.

[2020-11-18 09:01] Web3Foundation commented on #228
Hey guys! Apologies for the holdup here 🙏
We wanted to process the payout but the included wallet address is wrong, probably the PLM one. @Eunice-Lu could you change that in your submission to the correct Eth wallet address? We can not make this change on our end.

[2020-12-28 03:05] Eunice-Lu commented on #228
Hi  here is another ETH Wallet Address:  0x6F304341c07550E2038610379eFC527345DdD341

 @Web3Foundation @SotaWatanabe

[2020-12-28 03:06] Eunice-Lu commented on #228
Thanks

[2021-01-15 04:45] satellitex opened #255 "Change the dApps reward claim methods."
# Description
Align the Claim specification of dApps Reward with the Polkadot staking module.
- When a contract address is specified and a claim is made, all rewards (operator/nominator) related to that contract are paid.

## Required Tasks
- [ ] {task 1}
- [ ] {task 2}
- [ ] ...

## Estimated done.
{When finished this task?}

## Dependencies
{Dependencies issue or PR.}

[2021-01-15 10:08] wwwAndries opened #256 "tokio-runtime-worker' panicked at 'supplied instant is later than self"
Jan 15 09:23:04

Thread 'tokio-runtime-worker' panicked at 'supplied instant is later than self', library/std/src/time.rs:271
  29: __clone
  28: start_thread
             at rustc/32c654a9795b0d88541e56ba9da4150e34f1d5f9/library/std/src/sys/unix/thread.rs:87:17
      std::sys::unix::thread::Thread::new::thread_start
             at rustc/32c654a9795b0d88541e56ba9da4150e34f1d5f9/library/alloc/src/

[2021-01-25 16:16] Web3Foundation commented on #242
@Eunice-Lu We had to reissue the bounty in DAI, apologies for the holdup! Please proceed with the Gitcoin process and we will make the payout asap.

cc @SotaWatanabe

[2021-01-25 16:32] Web3Foundation commented on #243
@SotaWatanabe Bounty is up!

[2021-01-26 13:12] SotaWatanabe commented on #243
@Web3Foundation Thank you very much!  I will talk with @realtakahashi to proceed!

[2021-02-03 02:07] akru commented on #256
Could you check it on the latest version and please describe details on how can we reproduce this. Feel free to reopen it if needed.

[2021-02-03 02:07] #256 closed

[2021-02-03 02:07] akru commented on #245
Upgraded in latest versions

[2021-02-03 02:07] #245 closed

[2021-02-03 02:09] akru commented on #235
Should be fixed in `1.7.0` feel free to reopen it if happens again.

[2021-02-03 02:09] #235 closed

[2021-02-03 02:10] #234 closed

[2021-02-03 02:11] akru commented on #226
Should be fixed on the latest versions, feel free to reopen it with a description of reproducing.

[2021-02-03 02:11] #226 closed

[2021-02-03 02:11] #217 closed

[2021-02-03 02:11] #180 closed

[2021-02-03 02:14] akru commented on #105
Added on `rococo-v1` branch.

[2021-02-03 02:14] #105 closed

[2021-02-03 02:55] akru opened #261 "Staking migration guide"
# Description

The current state of consensus in Plasm Network is Proof of Authority. To become PoS the migration instruction is required. In this issue, required materials will be prepared.

## Required Tasks
- [ ] PoA -> NPoS
- [ ] NPoS -> Cumulus

## Dependencies

NPoS implementation https://github.com/PlasmNetwork/Plasm/pull/249
Cumulus implementation: https://github.com/PlasmNetwork/Plasm/tre

[2021-02-03 04:02] akru opened #262 "[EVM] Missed JSON-RPC methods"
# Description

Some standard [JSON-RPC API](https://eth.wiki/json-rpc/API) functions missed in [frontier](https://github.com/paritytech/frontier) implementation. This issue collects a list of missed methods and organizes implementation works.

## Required Tasks
- [ ] `new_newFilter`
- [ ] ...

[2021-02-03 04:06] akru opened #263 "[EVM] Porting frontier into parachain"
# Description
The EVM compatibility should be moved to Plasm parachain.

## Required Tasks
- [ ] update frontier
- [ ] integrate runtime module into plasm parachain runtime
- [ ] integrate frontier consensus into collator service

## Estimated done.
It could take up to two weeks.

[2021-02-03 21:12] Maar-io commented on #262
Comparing [EIP 1474](https://github.com/ethereum/EIPs/pull/1474) and Frontier master branch following is the list of not implemented methods:

- [ ] eth_sign
- [ ] eth_signTransaction
- [ ] eth_getCompilers
- [ ] eth_compileLLL
- [ ] eth_compileSolidity
- [ ] eth_compileSerpent

note: eth_newFilter and other filter methods are recently implemented in [#274](https://github.com/paritytech/frontier/p

[2021-02-04 01:16] akru commented on #262
Nice @Maar-io, thank you for update!
In that case, the target of this issue is updating frontier to upstream.

[2021-02-04 19:42] Maar-io commented on #262
PR with latest PureStake frontier (3 commits behind Parity)
https://github.com/PlasmNetwork/frontier/pull/1

[2021-02-05 03:46] akru commented on #262
@Maar-io Thank you very much, could you also create draft PR into this repo, `dusty` branch. Frontier used as sub-module.

[2021-02-05 07:42] Maar-io commented on #262
.gitmodules is pointing to staketechnologies/frontier
and my PR above is for PlasmNetwork/frontier. My bad.
To update staketechnologies/frontier there are merge conflicts which need to be resolved.
@akru, I will attempt to resolve them

[2021-02-05 08:04] akru commented on #262
It should be changed to PlasmNetwork repo.

[2021-02-05 08:53] Maar-io commented on #262
@akru please confirm that the following is needed:

1. PlasmNetwork/Plasm repo to have PlasmNetwork/frontier as submodule.
2. PlasmNetwork/frontier should be updated with the latest Parity/frontier master
3. There are no changes on top of Parity/frontier that should be considered for merge
thanks

[2021-02-05 13:32] akru commented on #262
That’s absolutely right, final step is check that everything works correctly: EVM contract deployment / executions, RPC calls, etc.

[2021-02-06 00:53] milseg commented on #243
I got it technically done, except for a small issue at plasm/pokadot javascript libraries. Need a hand at figuring it out how to solve [this issue](https://github.com/PlasmNetwork/plasm-types/issues/7) and i believe everything will be ready =)

[2021-02-06 18:24] milseg commented on #243
It is solved. Faucet is available [here](https://dusty-faucet.herokuapp.com/)

[2021-02-08 03:25] #255 closed

[2021-02-08 09:26] #111 closed

[2021-02-15 12:07] satellitex opened #271 "Migration substrate 3.0"
# Description
{write description of what the feature should be}

## Required Tasks
- [ ] {task 1}
- [ ] {task 2}
- [ ] ...

## Estimated done.
{When finished this task?}

## Dependencies
{Dependencies issue or PR.}

[2021-02-17 08:51] Web3Foundation commented on #243
@SotaWatanabe who should we approve for work?

[2021-02-17 08:56] Web3Foundation commented on #242
@SotaWatanabe could you reach out to @Eunice-Lu, he has to reapply for work since we had to reissue the bounty.

[2021-02-17 09:01] Haseebas004 commented on #242
What

[2021-02-17 09:37] Web3Foundation commented on #228
@Eunice-Lu Could you please update the wallet on your Gitcoin profile. Your PLM is still associated with it and we can't make a payout: https://gitcoin.co/issue/staketechnologies/Plasm/228/100023714

![image](https://user-images.githubusercontent.com/48550657/108185004-1f15ca00-710c-11eb-9f33-76de1b4d3ad9.png)

[2021-02-18 04:23] SotaWatanabe commented on #228
Sorry for the inconvenience. I will ask him to do it asap.

[2021-02-18 04:25] SotaWatanabe commented on #242
@Web3Foundation yes i did. Thank you for the reminder.

[2021-02-18 04:27] SotaWatanabe commented on #243
This should be @realtakahashi. Could you teach me the status of it? @realtakahashi

[2021-02-18 09:20] realtakahashi commented on #243
I implemented Plasm faucet as Substrate Pallet.
Therefore, you can use it from Polkadot / Substrate Portal without preparing a special WEB site.
I implemented it using an unsigned transaction.
It is saved in the following github repository.
I'm looking forward to incorporating my pallet into the Plasm Network.
https://github.com/realtakahashi/faucet_pallet

Samples embedded in substrate-node-templ

[2021-02-20 11:30] realtakahashi commented on #243
I created branch of this issue. And sent "pull request".

[2021-02-21 07:16] SotaWatanabe commented on #243
Thanks! We will review it shortly!

[2021-03-03 07:40] #263 closed

[2021-03-03 07:40] #271 closed

[2021-03-04 08:16] Eunice-Lu commented on #228
Hi~we update the wallet adress on githcoin:  0x2980e859D4BF34192445ef4908396f6A6088F8B6

[2021-03-05 01:41] realtakahashi commented on #243
I apologize to late implementing to this feature .
I am trying to following step.
I am implementing "step2" now.

1.I get testnet token request from github with "off-chain woker".
2.Check the request is correct.
3.Submit transaction for  sending testnet token from "off-chain worker".

[2021-03-05 09:33] Web3Foundation commented on #228
@Eunice-Lu Unfortunately you have not updated the address associated with your submission, it is still the PLM address. Could you please hop on a call with me to troubleshoot this? Find a time that works for you [HERE](https://calendly.com/urban-w3f/30min).

[2021-03-05 09:44] SotaWatanabe commented on #228
@Web3Foundation sorry for taking your time.

@Eunice-Lu This should be easy to do. I have written how to change your address here.

First of all, this is a Polkadot address. You have to fill out your Ethereum address here.
<img width="1166" alt="Screen Shot 2021-03-05 at 18 37 28" src="https://user-images.githubusercontent.com/29359048/110097364-46de8080-7de2-11eb-9501-2bd0d9548b3e.png">

Please c

[2021-03-06 07:46] Eunice-Lu commented on #228
**Hi~Sota
I have done the second and the third step, as the two pictures show below.   But for THE FIIRST STEP you showed, every time click into the link there will be the Ethersacan , BUT, it always told me the login password is wrong even I change the password by email.**

<img width="1280" alt="截屏2021-03-06 15 23 52" src="https://user-images.githubusercontent.com/71814812/110199345-f5da9500-7e9

[2021-03-07 12:50] satellitex opened #274 "Dapps Staking for evm contract"
# Description
The dApps staking is also covered by the EVM contract. Along with that, we will change the specification of the concept of the operator. This issue is divided into several subtasks.

## Change the address of the staking target to "contract address".
Change the address of the operator and the address of the recipient of the reward to "contract address".

The contract address is obtain

[2021-03-07 14:16] Imresud opened #275 "1.8.0 mac install error"
error[E0308]: mismatched types
     --> /Users/imre/.cargo/registry/src/github.com-1ecc6299db9ec823/pallet-contracts-3.0.0/src/exec.rs:802:30
      |
  802 |         <T as Config>::Event::from(event).into(),
      |                                    ^^^^^ expected associated type, found enum `pallet::Event`
      |
      = note: expected associated type `<T as frame_system::Config>::Event`

[2021-03-07 15:53] Imresud commented on #275
after updating again rust, the compilator went through with warning only and node runs:

--

   Compiling pallet-ethereum v0.1.0 (/Users/imre/.cargo/git/checkouts/plasm-7ef01d8204e28a62/f5e5879/vendor/frontier/frame/ethereum)
warning: unused variable: `n`
   --> vendor/frontier/frame/ethereum/src/lib.rs:213:20
    |
213 |         fn on_initialize(n: T::BlockNumber) -> Weight {
    |

[2021-03-07 15:58] #275 closed

[2021-03-08 22:03] realtakahashi commented on #243
I'm still working.
I am implementing "step3" now.

1.I get testnet token request from github with "off-chain woker".
2.Check the request is correct.
3.Submit transaction for sending testnet token from "off-chain worker".
4.Transfer testnet token.
5.modify to check logic.

[2021-03-09 13:33] realtakahashi commented on #243
I'm still working.
I am implementing "step5" now.

1.I get testnet token request from github with "off-chain woker".
2.Check the request is correct.
3.Submit transaction for sending testnet token from "off-chain worker".
4.Transfer testnet token.
5.modify to check logic.
6.Incorporation into Plasm Network

[2021-03-11 11:46] realtakahashi commented on #243
I am implementing "step6" now.

1.I get testnet token request from github with "off-chain woker".
2.Check the request is correct.
3.Submit transaction for sending testnet token from "off-chain worker".
4.Transfer testnet token.
5.modify to check logic.
6.Incorporation into Plasm Network

[2021-03-12 09:19] Web3Foundation commented on #228
@Eunice-Lu could you try updating the submission details?

[2021-03-13 02:45] realtakahashi commented on #243
I completed step6. And My new faucet pallet works.
But my testcode is implemented by Substrate2.0, so, my testcode doesn't work.I have to up the version.
This work is "Step7". When "Step7" is finished, I will make a pull request again.

1.I get testnet token request from github with "off-chain woker".   ## finished
2.Check the request is correct.  ## finished
3.Submit transaction for sending testn

[2021-03-15 08:42] realtakahashi commented on #243
@SotaWatanabe
I implemented a new version that corresponds to the point in the previous review and made a pull request.
https://github.com/PlasmNetwork/Plasm/pull/279

[2021-03-18 07:18] iwkoo opened #280 "Documentation"
When will documentation be updated? It can't be installed by document（v1.4.0）

[2021-03-18 07:31] SotaWatanabe commented on #280
You mean this one v1.0.4 ?
https://docs.plasmnet.io/

[2021-03-18 07:40] iwkoo commented on #280
yes

[2021-03-22 16:06] tongkirati opened #281 "Sitttichai"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-03-31 05:52] hskang9 opened #282 "Filter id # does not exist on Dusty"
# Description
For listening to contract events, ethereum has RPC method called `eth_newFilter`.

This can be used for
- Smart contract Bridge client which needs to receive confirmation from the contract
- Data aggregation layer which needs to be synced with the dapp

Current frontier has implemented filter api, but when using web3 api to execute `event.createFilter`, it shows error like

[code]
Th

[2021-03-31 20:39] timsmith1337 opened #284 "Crash: tokio-runtime-worker panicked"
### Just installed a node Raspberry Pi 4 Model B (4GB) and within few minutes it crashed.

`2021-03-31 20:31:09  ⚙️  Syncing 142.8 bps, target=#155565 (37 peers), best: #39152 (0xccac…7cc6), finalized #38912 (0x77f1…dcb9), ⬇ 211.2kiB/s ⬆ 1.7kiB/s
2021-03-31 20:31:14  ⚙️  Syncing 167.0 bps, target=#155566 (37 peers), best: #39987 (0xff70…b884), finalized #39942 (0xfc58…6f78), ⬇ 7.9kiB/s ⬆ 2.0kiB/s

[2021-03-31 21:16] fiexer commented on #284
Have you followed this tutorial?
https://github.com/bLd75/Plasm-RPi

I recommend opening an issue there. It's built by one of our Ambassadors.
Feel free to join our Discord for further support.

[2021-03-31 21:40] #284 closed

[2021-03-31 21:44] fiexer commented on #280
@iwkoo can you please clarify it a bit more?
Are you talking about our English documentation and what is not up-to-date?

Thanks

[2021-04-01 15:25] Alevi79 opened #285 "Bug report 'tokio-runtime-worker'"
![image](https://user-images.githubusercontent.com/81765362/113316939-8c299b80-9317-11eb-8641-8e4d07365886.png)

[2021-04-01 15:41] #285 closed

[2021-04-02 10:40] kyoungrok0517 opened #286 "Lockdropped at 2nd eth lockdrop. Can't see PLM in my wallet."
![image](https://user-images.githubusercontent.com/1051900/113407423-3670f400-93e8-11eb-8e7b-d5039498e574.png)

![image](https://user-images.githubusercontent.com/1051900/113407456-4ab4f100-93e8-11eb-8778-2dc4e49c3585.png)

Hello. I participated in 2nd eth lockdrop, and successfully received PLM tokens at that time. Until today I did nothing. Today I re-opened my Plasm wallet and can't see my toke

[2021-04-02 10:51] SotaWatanabe commented on #286
WPDRwyMdzZrroQPni3bZfqzTzeJPZyc85Ba8pR8M17uERpM This address owns 1,059,200 PLM. But I think this address is not the same to "INDIGO2580" and "PLASM".

 You need to add this address to your Polkadot.js by using your seed  key or the back up file.

[2021-04-02 10:52] #228 closed

[2021-04-02 11:04] kyoungrok0517 commented on #286
<img width="520" alt="image" src="https://user-images.githubusercontent.com/1051900/113409858-1b54b300-93ed-11eb-99b5-1dc256a9c7c4.png">

I just added using keystore json. Thanks

[2021-04-02 11:04] #286 closed

[2021-04-14 10:01] storm-CC opened #287 "how to get a Plasm"
how to get a plasm?

[2021-04-14 11:15] SotaWatanabe commented on #287
FYI https://forum.plasmnet.io/t/faq-how-can-i-get-plm-sdn-tokens/882

[2021-04-14 11:15] #287 closed

[2021-04-15 21:42] xni opened #288 "'Digest item must match that calculated'-crash"
Hi! My plasm node is crashing sporadically

[code]

What else can I provide to help with investigation?

command: `/home/plasm/plasm --validator --rpc-cors all --name 'validators_support'`

[code]

HW: Intel(R) Xeon(R) CPU E3-1275 v6 @ 3.80GHz, 64 Gb, Ubuntu 20.04

[2021-04-16 07:01] fiexer commented on #288
We are aware of this issue.
This is a frontier issue, if your node is synced and running you can ignore this.

[2021-04-20 05:43] BennyOptions opened #290 "Feature Request: Integrate SHA3-256 & ECDSA Public Key Recover precompile contracts"
We have merged a PR with Frontier in order to support adding Plasm and other Frontier-enabled networks into ICON's interoperability solution, [BTP](https://github.com/icon-project/btp).

The necessary precompiles can be found in this PR

https://github.com/paritytech/frontier/pull/304

[2021-04-22 20:08] fiexer commented on #280
The topic is closed.
No response after +20 days. We update our documentation on regular basis.

[2021-04-22 20:08] #280 closed

[2021-05-02 14:00] #242 closed

[2021-05-07 08:44] Web3Foundation commented on #243
@SotaWatanabe Can this be paid out?

[2021-05-07 08:46] Web3Foundation commented on #242
@SotaWatanabe Can I cancel this bounty? @Eunice-Lu has never responded...

[2021-05-07 08:49] Eunice-Lu commented on #242
I’ll did it before 12th May

Really sorry.

[2021-05-15 10:21] SotaWatanabe opened #294 "Editing 2 addresses"
@akru please edit 2 addresses on this file.
https://github.com/PlasmNetwork/Plasm/blob/shiden/bin/collator/src/balances.rs

1. Edit the amount of this address👇 Amount 190013711634619063563422 → New: 51148000000000000000 (5.1148 PLM) https://github.com/PlasmNetwork/Plasm/blob/a8068cd53ff25c106b8f6d37d93b56caac35b714/bin/collator/src/balances.rs#L603
2. Remove this address👇
https://github.com/PlasmN

[2021-05-16 03:32] #294 closed

[2021-05-16 05:51] SotaWatanabe opened #295 "Remove and edit some addresses"
There are 6 addresses we need to remove or edit.

**Edit the amount of this address**
189195009999000000000000 → 1210000000000000000
https://github.com/PlasmNetwork/Plasm/blob/6f07809f5ace5bdb81950a207f004e5cdddd3002/bin/collator/src/balances.rs#L2764

**Edit the amount of this address**
227033000100000000000000 → 100000000000000
https://github.com/PlasmNetwork/Plasm/blob/6f07809f5ace5bdb81950a207

[2021-05-20 04:35] akru commented on #295
Fixed in b3168db447f21c39aefa325d9837c4ccccee5031, please check

[2021-05-20 04:35] #295 closed

[2021-05-21 02:55] VadneyK opened #298 "Dusty node - failed to run custom build command for `ring v0.16.12`"
**Describe the bug**

trying to run the dusty plasm node [following this tutorial](https://docs.plasmnet.io/build/smart-contracts/wasm/smart-contract/install) but I run into this error

**To Reproduce**
Steps to reproduce the behavior:
1. enter to terminal `cargo install --force --locked  --git https://github.com/staketechnologies/Plasm --tag v1.4.0-dusty plasm-cli`

**Expected behavior**
the prog

[2021-05-21 05:27] fiexer commented on #298
Please use the latest version v1.9.0
This one will work.

[2021-05-21 19:36] VadneyK commented on #298
thanks, did the trick

[2021-05-21 19:36] #298 closed

[2021-05-21 23:05] VadneyK opened #300 "Type errors in compiling plasm-runtime v1.9.3"
**Describe the bug**
Trying to compile this repo but the Type errors in plasm-runtime v1.9.3 are preventing me

**To Reproduce**
1. clone this repo (recursively download frontier)
2. cd Plasm
3. cargo build --release

**Expected behavior**
compile with no error

**Screenshots**
Error Message:
![Screen Shot 2021-05-21 at 12 39 31 PM](https://user-images.githubusercontent.com/57117207/119205808-2f60

[2021-05-22 11:31] realtakahashi commented on #300
I can compile correctly. My environment is following.
OS: macOS Big Sur MacBook Pro 2020, Two Thunderbolt

[code]

[2021-05-22 13:51] realtakahashi commented on #300
[code]

[2021-05-25 00:06] VadneyK commented on #300
I ran :
`
rustup install nightly-2021-05-22
rustup target add wasm32-unknown-unknown --toolchain nightly-2021-05-22-aarch64-apple-darwin
mv ~/.rustup/toolchains/nightly-2021-05-22-aarch64-apple-darwin ~/.rustup/toolchains/nightly-aarch64-apple-darwin
cargo +nightly build --release
`

but I still get :

<img width="1426" alt="Screen Shot 2021-05-24 at 5 04 25 PM" src="https://user-images.githubuser

[2021-05-25 00:30] VadneyK commented on #300
not sure what the issue was but I removed the folder and reinstalled via:
`cargo +nightly install --locked --force --git https://github.com/staketechnologies/Plasm --tag v1.9.0-dusty plasm
`

and I get a very long error attatched at the end of this post.
This seems to from an incompatibility of M1 chip and `librocksdb-sys v6.11.4`, which is fixed in 6.17.3
https://github.com/rust-rocksdb/rust-rock

[2021-05-25 01:03] VadneyK commented on #300
Not sure why but

`cargo +nightly install --locked --force --git https://github.com/staketechnologies/Plasm` then `plasm` did the trick!

[2021-05-25 01:04] #300 closed

[2021-05-25 17:36] #288 closed

[2021-05-30 02:32] VadneyK opened #303 "connecting via polkadot/js crashes"
**Describe the bug**
Currently trying to connect to a local plasm node via polkadot.js. more infomation and the error message on the js side here:
https://github.com/polkadot-js/api/issues/3588

here I am posting the errors that seem to show up on the node terminal side.

**To Reproduce**
1. install plasm node
2.  `plasm` to run local node
3. write code in link, `node index.js` to execute

**Expec

[2021-05-30 02:53] VadneyK commented on #303
mdns error is just this https://github.com/paritytech/substrate/issues/8358

[2021-06-01 16:46] VadneyK opened #304 "operator-trading docker image not working"
**Describe the bug**
Following this tutorial to deploy a smart contract, but I get the issue below.
https://docs.plasmnet.io/build/operator-trading

**To Reproduce**
Steps to reproduce the behavior:
1) docker pull staketechnologies/plasm-node:dapps-reward
2) docker run -p 9944:9944 staketechnologies/plasm-node:dapps-reward --dev --ws-external
3) see error

**Expected behavior**
the node runs

**Sc

[2021-06-07 05:07] #152 closed

[2021-06-07 06:55] #160 closed

[2021-06-08 01:47] satellitex opened #305 "Operator module will be deprecated."
# Description
The operator module will be deprecated. It is intended for dApps rewards recipients and for dapps privilege transfer. However, in order to make the structure simpler, dApps rewards should be passed directly to the staking contract itself. This eliminates the need for the concept of an operator.

The use of the compensation received by the contract should be specified by the contract.

[2021-06-08 19:05] JoshOrndorff opened #307 "Question: What is the dummy wasm"
I saw this code https://github.com/PlasmNetwork/Plasm/blob/shiden/runtime/shiden-runtime/src/lib.rs#L53-L61

Is this a way to build just the native runtime without building wasm?

[2021-06-09 02:45] VadneyK commented on #307
not sure but it seems like it's just to disallow wasm compiling in a dev environment but I am not sure why we are doing that... good question! will ping some other team members.

[2021-06-09 02:50] VadneyK opened #308 "Dusty accounts PLD disappeared?"
**Describe the bug**
cross posted: https://github.com/polkadot-js/apps/issues/5487#issuecomment-856411159
but they say this is not a polkadot issue. did the AccountID type just get updated in @plasm/types which caused the PLD to disappear in the account?

**To Reproduce**
Steps to reproduce the behavior:
1. Create account on polkadot.js - dusty network
2. get PLD
3. wait a few days
4. PLD dissapea

[2021-06-09 03:33] VadneyK commented on #307
Yes, setting this environment variable the build process will skip building wasm

[2021-06-09 11:53] JoshOrndorff commented on #307
Could you show some of the mechanics how this works? I'd like to use the same technique.

[2021-06-09 13:26] #167 closed

[2021-06-10 02:56] VadneyK commented on #308
The PLD was sent to the dissapearing PLD account but now the PLD in my other account is also gone!

It almost seems like the sam PLD is being moved around somehow instead of new PLD being sent, but now it’s totally gone. There are some weird things [happening here as well… ](https://github.com/patractlabs/redspot/issues/117#issuecomment-856321456)

I deleted and re imported the accounts from seed

[2021-06-10 04:50] 454076513 opened #310 "How to startup the shiden parachain?"
I can't find out how to startup shiden parachain. Is it like this "plasm-node --chain shiden" ?

[2021-06-10 09:07] fiexer commented on #310
We will soon share this in our documentation.
This is not possible for the moment. Follow our developments on Discord, we will make an announcement there.

[2021-06-10 09:07] #310 closed

[2021-06-10 14:08] #186 closed

[2021-06-10 14:08] #185 closed

[2021-06-10 14:09] satellitex opened #313 "Refactor exteranal call of exit Dispute in plasma module."
There are being to external callable.
- `exit::bare_exit_claim`
- `exit::bare_exit_challenge`
- `exit::bare_exit_settle`

https://github.com/PlasmNetwork/Plasm/pull/218/commits/a58829a5c1309803d17570a7be878f115c5cb141

[2021-06-10 14:23] satellitex commented on #313
DisputeManager:
https://github.com/cryptoeconomicslab/ovm-contracts/blob/master/contracts/Dispute/CheckpointDispute.sol
https://github.com/cryptoeconomicslab/ovm-contracts/blob/master/contracts/Dispute/ExitDispute.sol

Integrated Test:
https://github.com/cryptoeconomicslab/gazelle/blob/master/integration-test/e2e-tests/__tests__/index.test.ts

Merkle tree:
https://github.com/cryptoeconomicslab/gaz

[2021-06-12 03:58] VadneyK commented on #308
nvm it was just burned by sender

[2021-06-12 03:58] #308 closed

[2021-06-18 21:38] VadneyK commented on #303
us rs3.0.0 above

[2021-06-18 21:38] #303 closed

[2021-06-28 19:13] satellitex opened #318 "Integrated Test for Plasma"
DisputeManager:
https://github.com/cryptoeconomicslab/ovm-contracts/blob/master/contracts/Dispute/CheckpointDispute.sol
https://github.com/cryptoeconomicslab/ovm-contracts/blob/master/contracts/Dispute/ExitDispute.sol

Integrated Test:
https://github.com/cryptoeconomicslab/gazelle/blob/master/integration-test/e2e-tests/__tests__/index.test.ts

Merkle tree:
https://github.com/cryptoeconomicslab/gaz

[2021-07-02 13:22] ioannist opened #320 "Thread 'tokio-runtime-worker' panicked at 'Digest item must match that calculated.',"
Getting this on Ubuntu 18

[code]

[2021-07-07 08:38] Maar-io opened #321 "Set Bonding period to 7 days for Dusty v5."
Set Bonding period to 7 days for Dusty v5. Now it is set to 672 days

[2021-07-14 09:51] Maar-io commented on #321
fixed in this [commit](https://github.com/PlasmNetwork/Astar/commit/43a1d37e4ca1565f6b4f4bc0d05d6f540831a275)

[2021-07-14 09:51] #321 closed

[2021-07-14 09:59] Maar-io commented on #320
did your node continue with block production?

[2021-07-20 09:31] satellitex commented on #305
on development/dusty

[2021-07-21 13:26] Maar-io opened #327 "Remove Astar pallets which are unused in Dusty"
remove plasm-rewards module
remove plasm-support module

[2021-07-21 13:26] Maar-io opened #328 "**Add new Astar logo to Polkadot.js**"

[2021-07-21 13:26] Maar-io opened #329 "**Change Polkadot.js url for Dusty**"

[2021-07-21 13:27] Maar-io opened #330 "**Update PLD faucet**"
update discord faucet to be used with Dusty5

[2021-07-25 16:39] Maar-io opened #335 "**Metamask can't connect to Dusty5 RPC (https)**"
configure nginx on RPC node
https://dusty.astar.networks

[2021-07-25 20:04] Maar-io opened #336 "Configure Github workflows for Dusty5"
fix all failing tests

[2021-07-27 04:38] coder-chenda opened #338 "astar 节点怎么搭建？"

[2021-07-27 06:35] gosamer commented on #327
I started looking into this one since it's related to Astar codebase.

However, I cannot assign this TODO to me. I guess I need to be added to the project/added some rights?

[2021-07-27 06:36] fiexer commented on #338
Astar node cant be build because it's not released.
See our documentation to build our Dusty node (testnet). Thanks

[2021-07-27 06:36] #338 closed

[2021-07-27 08:00] coder-chenda commented on #338
Is the Astar mainnet node not online yet? Means I can only build a testnet? So when can the mainnet node be built?

[2021-07-27 08:00] coder-chenda commented on #338
Is the Astar mainnet node not online yet? Means I can only build a testnet? So when can the mainnet node be built?

[2021-07-27 08:41] fiexer commented on #338
Yes only testnet is online!
Astar mainnet will be online after Polkadot parachains
Shiden our sister network on Kusama can be used very soon, see our roadmap here:
https://www.notion.so/staketechnologies/dc65264053e84b9d97967b0ca364f8dd?v=f57049408c4047ce83509445eb7050cd

Note: if you have it build on testnet it will work on mainnet. What are you trying to build?

[2021-07-27 11:23] coder-chenda commented on #338
I want to know the difference between the test chain and the main chain. I'm worried that the main chain and test building methods will be different after the coin is loaded.

[2021-07-28 07:37] Maar-io opened #339 "Payout is not working on dusty v5"

[2021-07-28 16:30] Dinonard commented on #328
I've found the following images in the Polkadot-JS:

- dusty.png
- shiden.png
- plasm.png

Do you want me to just change the _plasm.png_ to the new Astar network logo?

If yes, is this one good? https://astar.network/images/brand-logo-mark.png

[2021-07-28 16:46] Dinonard commented on #329
@Maar-io
I've seen your link in the Slack:
https://polkadot.js.org/apps/?rpc=wss%3A%2F%2Fdusty.astar.network%3A443#/explorer

So I want to double check the information.
polkadot\apps\packages\apps-config\src\endpoints\testing.ts

OLD: wss://rpc.dusty.plasmnet.io/
NEW: wss://dusty.astar.network:443

Is this correct?

[2021-07-28 19:25] Dinonard commented on #330
I've got a few questions regarding this one.

I guess you want me to update the following:
https://github.com/PlasmNetwork/dusty-faucet/blob/main/app/src/app.ts
to use **wss://dusty.astar.network:443**.

I don't have Discord Bot development experience but I'll manage it.
Which roles do I need to update it?
Can you assign them to me?

[2021-07-29 02:12] coder-chenda opened #341 "Is there an API interface for obtaining block information and transaction information?"
Is there an API interface for obtaining block information and transaction information?

[2021-07-29 04:04] coder-chenda opened #342 "How to stop and observe data after. / plasma is started. In addition to. / plasma -- help, there are other descriptions. / plasma  Documents or links used?"

[2021-07-29 04:54] hskang9 commented on #342
Can you elaborate your issues clearly regarding the observing data? I think you can simply get the logs for `nohup` command, but registering astar as systemd service will be better.

[2021-07-29 04:55] hskang9 commented on #341
currently, parsing a block info and transaction is possible with RPC `chain.getBlock` call.

[2021-07-29 06:01] #341 closed

[2021-07-29 06:02] coder-chenda commented on #341
有链接吗？

[2021-07-29 06:11] coder-chenda opened #343 "Astar 有api 接口文档连接吗？比如其他币也会有属于自己调用的api 文档链接一样"

[2021-07-29 17:14] Dinonard commented on #328
Can you check it out?
https://github.com/Dinonard/apps/commit/1af7b738308c2f40df665d398b9d959ffed6ed49

I haven't made a PR yet since it's unclear when do you want to have this merged.

[2021-07-29 17:14] Dinonard commented on #329
Commit is here:
https://github.com/Dinonard/apps/commit/777207e834468615fb6c8b775049b8fea5cf79da

[2021-07-29 17:15] Dinonard commented on #330
Commit is here:
https://github.com/Dinonard/dusty-faucet/commit/30303c42c26a3e9e1b5870507f05eb69eb5a50a1

[2021-08-01 07:08] Maar-io commented on #327
#340

[2021-08-01 07:08] #327 closed

[2021-08-01 08:50] Maar-io commented on #328
yes, please hold with the PR.
Sota prepared orange dusty logo. Use that one for Dusty

[2021-08-02 10:15] coder-chenda opened #349 "How to build the nodes of shiden network test network?"
shiden network 测试网的节点如何搭建？
  astar 的测试节点已经搭建了，但shiden network 怎么搭建

[2021-08-02 10:49] coder-chenda opened #350 "Does shiden have a corresponding currency? What is the abbreviation of coin?"

[2021-08-02 11:39] fiexer commented on #349
See our documentation docs.astar.network
Soon we add the documentation for Collators. For now you only can build a node for our testnet Dusty.

[2021-08-02 11:39] #349 closed

[2021-08-02 11:39] fiexer commented on #343
Please write in English.

[2021-08-02 11:40] fiexer commented on #342
It's not ./plasma
Please use correct command.

[2021-08-02 11:40] #342 closed

[2021-08-02 11:41] fiexer commented on #350
Yes Shiden token.
https://docs.astar.network/learn/token-economics/sdn-token-allocation

[2021-08-02 11:41] #350 closed

[2021-08-02 11:42] fiexer commented on #320
This is a common error.
Just ignore, your chain will sync.

[2021-08-02 11:42] #320 closed

[2021-08-02 11:42] #304 closed

[2021-08-02 12:04] coder-chenda commented on #349
So I'm going to test the environment now. How should shiden test it? Can Polkadot's official node be used to test polkadot.js accessing shiden charging script?

[2021-08-02 12:49] fiexer commented on #349
No you cant use Polkadot node to launch Shiden.
It's NOT possible now to launch a Shiden node! Please test in our testnet Dusty.

[2021-08-02 19:11] Dinonard commented on #336
Tested it and it works.

[2021-08-03 02:09] coder-chenda opened #352 "Does shiden have an API interface or SDK to obtain blocks and transaction information?"

[2021-08-03 02:10] coder-chenda opened #353 "Does astar have an API interface document connection? For example, other currencies will also have their own API document links"

[2021-08-03 02:12] coder-chenda opened #354 "Can shiden's test network node use the dusty test node for testing?"

[2021-08-03 03:14] akru commented on #354
Hi, unfortunately no, Dusty is standalone network but Shiden is Parachain. Please use development/shibuya branch for parachain tests.

[2021-08-03 03:14] #354 closed

[2021-08-03 03:16] akru commented on #352
Hi, Shiden have standard substrate API: https://polkadot.js.org/docs/substrate/rpc/

[2021-08-03 03:16] #352 closed

[2021-08-03 03:17] akru commented on #116
Implemented in Shibuya

[2021-08-03 03:17] #116 closed

[2021-08-03 03:18] akru commented on #143
Authority discovery mechanics required for relaychain but don’t needed for parachain, drop it.

[2021-08-03 03:18] #143 closed

[2021-08-03 03:19] akru commented on #282
@hskang9 is this actual?

[2021-08-03 07:15] fiexer commented on #353
Maybe it's best to join our Discord server for all your questions https://discord.com/invite/Dnfn5eT
This is not the best place for these kinds of questions. Thanks

More information about API can be find in our documentation: https://docs.astar.network

[2021-08-03 07:15] #353 closed

[2021-08-03 07:15] #343 closed

[2021-08-04 00:37] coder-chenda commented on #354
How to use development / Shibuya branch to test shiden?

[2021-08-04 00:46] coder-chenda opened #358 "How to use development / Shibuya branch to test shiden?"

[2021-08-04 00:49] coder-chenda opened #359 "What is shiden's private key? How to generate?"

[2021-08-04 02:41] coder-chenda opened #360 "An additional 0.01 will be deducted when withdrawing coins to ensure that less than 0.01 KSM will not be abandoned. This is the unique mechanism of KSM. Do shiden have such a mechanism?"

[2021-08-04 02:44] coder-chenda opened #361 "Hello, I'd like to ask where shiden can learn about the accuracy of coin withdrawal, the handling fee of coin withdrawal and other information, or whether there are exact data for reference?"

[2021-08-04 05:15] fiexer commented on #358
Been answered on Discord!

[2021-08-04 05:15] #358 closed

[2021-08-04 05:15] fiexer commented on #361
Been answered on Discord!

[2021-08-04 05:15] #361 closed

[2021-08-04 05:16] fiexer commented on #359
Been answered on Discord!

[2021-08-04 05:16] #359 closed

[2021-08-04 05:16] fiexer commented on #360
Been answered on Discord!

[2021-08-04 05:16] #360 closed

[2021-08-05 06:25] #336 closed

[2021-08-05 16:31] bLd75 opened #365 "Session key change not updated at next session"
**Describe the bug**
The session key changing `session.setKeys` is not taken into account, new keys are not attached to the collator address.

**To Reproduce**
Steps to reproduce the behavior:
1. Set new validator with session **key A** in _Staking > Account actions_
2. Wait the end of current session
3. Generate new session **key B** on the node side
4. Change the collator session key to **key B*

[2021-08-21 22:43] hskang9 commented on #282
This is now solved with finding out the block height to listen to after evm is added in dusty. If Astar adds evm in the first place, this would not matter.

[2021-08-21 22:43] #282 closed

[2021-08-24 12:04] Maar-io commented on #339
![EraPayoutEvent](https://user-images.githubusercontent.com/34627453/130613192-ef803a70-f2da-4e25-9d14-7b47a527dcd3.jpg)

[2021-08-24 16:49] wwwAndries opened #385 "Thread 'tokio-runtime-worker' panicked at 'existence of block with number `new_canonical` implies existence of blocks with all numbers before it"
[code]

[2021-08-30 10:23] satellitex opened #392 "dApps staking part 1/5"
# Description
Implementing the bond transition.

## Required Tasks
- [ ]  `set_controller`
- [ ]  `set_payee`
- [ ]  `bond`
- [ ]  `withdraw_unbonded`
- [ ]  `unbonded_withdraw`
- [ ]  Setting weight the above functions in `weight.rs`
- [ ]  All related test passed.

## Estimated done.
{When finished this task?}

## Dependencies
{Dependencies issue or PR.}

[2021-08-30 10:24] satellitex opened #393 "dApps staking part 2/5"
# Description
Implementing targets registering logic. (for staking targets must be registered)

## Required Tasks
- [ ]  `register`
- [ ]  `set_register_deposit`
- [ ]  Setting weight the above functions in `weight.rs`
- [ ]  Passed all related test.

## Estimated done.
{When finished this task?}

## Dependencies
{Dependencies issue or PR.}

[2021-08-30 10:25] satellitex opened #394 "dApps staking part 3/5 (Era logic)"
# Description
Implementing Era logic.

## Required Tasks
- [ ]  `force_no_eras`
- [ ]  `force_new_era`
- [ ]  `force_new_era_always`
- [ ]  `set_history_depth`
- [ ]  added era update logic to  `on_finalize`
- [ ]  Setting weight the above functions in `weight.rs`
- [ ]  Passed all related tests.

## Estimated done.
{When finished this task?}

## Dependencies
{Dependencies issue or PR.}

[2021-08-30 10:26] satellitex opened #395 "dApps staking part 4/5 (staking and reward)"
# Description
Implementing staking and get reward logic.

## Required Tasks
- [ ]  `staking`
- [ ]  `payout_stakers`
- [ ]  `payout_contract`
- [ ]  `chill` transition.
- [ ]  added reward update logic to `on_finalize`
- [ ]  Setting weight the above functions in `weight.rs`
- [ ]  Passed all related tests.

## Estimated done.
{When finished this task?}

## Dependencies
{Dependencies issue or PR.}

[2021-08-30 10:27] satellitex opened #396 "dApps staking part 5/5 (Voting)"
# Description
Implementing voting logic.

## Required Tasks
- [ ]  `vote`
- [ ]  added reward update logic to `on_finalize`
- [ ]  Setting weight the above functions in `weight.rs`
- [ ]  Passed all related tests.

## Estimated done.
{When finished this task?}

## Dependencies
{Dependencies issue or PR.}

[2021-08-30 18:14] togamamora opened #398 "SDN Crowdloan Reward Not Received In Full"
An issue on Shiden crowdloan reward.

Kusama Address:
G5JgAXHwvSPxp4WsV2Lpo3rTvqPNWoUNEVKPV49MQY5raRG

Shiden Address:
ZSHT99W6o4aRzGub5fQxVr8QPGGY4h2w49iEXz3jyKYhTCR

1st contribution. 2KSM (Stage 1 Bonus)
https://kusama.subscan.io/extrinsic/7829678-3

2nd contribution, 1 KSM (Stage 3 Bonus)
https://kusama.subscan.io/extrinsic/8145887-2

Total reward received is ~247 SDN, which is only from the 1

[2021-09-03 15:02] wwwAndries opened #403 "Block prepare storage changes error: panicked at 'Storage root must match that calculated."
Six hours after upgrading to 2.4.2 these errors occured:

2021-09-03 15:28:31 [Parachain] Block prepare storage changes error:
2021-09-03 15:28:31 [Parachain] panicked at 'Storage root must match that calculated.', /cargo-home/git/checkouts/substrate-7e08433d4c370a21/91061a7/frame/executive/src/lib.rs:473:9
2021-09-03 15:28:31 [Parachain] 💔 Error importing block 0xb48506589671c01d58cb4695bf2f46960

[2021-09-04 03:12] togamamora opened #404 "SDN Crowdloan Reward Not Received In Full"
An issue on Shiden crowdloan reward.

Kusama Address:
Go7Z9bhjYo6Xkc6dqpXpBwbTxx91sR38yqDkcoheYgV4PAy

Shiden Address:
aA6L8DutRRGzvpVMSTbwtjsQRP2BRJbhoVcbfjc37TwuBN6

1st contribution. 10 KSM (Stage 1 Bonus)
https://kusama.subscan.io/extrinsic/0xbc08bf0cd523da0ad79147715c882c3b8af507aae28852a6e4f4348c5ff5c829

2nd contribution, 2 KSM (Stage 3 Bonus)
https://kusama.subscan.io/extrinsic/0xada425500

[2021-09-18 06:42] akru commented on #290
Hi @BennyOptions, implemented in latest version of Shiden, feel free to reopen is something wrong.

[2021-09-18 06:42] #290 closed

[2021-09-18 06:43] #262 closed

[2021-09-18 06:43] #107 closed

[2021-09-18 06:44] #112 closed

[2021-09-18 06:44] #114 closed

[2021-09-18 06:44] #146 closed

[2021-09-18 06:45] #236 closed

[2021-09-18 06:45] #237 closed

[2021-09-18 06:45] #261 closed

[2021-09-18 06:46] #305 closed

[2021-09-18 06:48] akru commented on #307
I'm sure this is the best option https://github.com/NixOS/nixpkgs/blob/master/pkgs/applications/blockchains/polkadot/default.nix#L30

[2021-09-18 06:48] #307 closed

[2021-09-18 06:50] akru commented on #365
Hi @bLd75, is this actual? I saw that Shiden isn't affected on this

[2021-09-18 06:52] akru commented on #403
Hi @wwwAndries, thank you for report. Is this reproducable or happens often?

[2021-09-19 08:51] wwwAndries commented on #403
No, it was a one time error with 2.4.2. After upgrading to 2.5.0 I've seen no errors.

[2021-09-19 08:51] #403 closed

[2021-09-20 10:49] bLd75 commented on #365
Hi @akru you can close this issue now, it was related to Dusty5 and has been fixed in the next release.
Thanks!

[2021-09-20 13:45] #365 closed

[2021-09-22 10:42] Maar-io commented on #330
canceling Dusty5 project

[2021-09-22 10:42] #330 closed

[2021-09-22 10:42] Maar-io commented on #339
canceling Dusty5 project

[2021-09-22 10:42] #339 closed

[2021-09-22 10:43] Maar-io commented on #335
canceling Dusty5 project

[2021-09-22 10:43] #335 closed

[2021-09-22 10:43] Maar-io commented on #329
canceling Dusty5 project

[2021-09-22 10:43] #329 closed

[2021-09-22 10:43] Maar-io commented on #328
canceling Dusty5 project

[2021-09-22 10:43] #328 closed

[2021-09-23 02:02] Ljzn opened #427 "Need additional types to parse the Shiden block data"
https://github.com/polkadot-js/apps/issues/6172

[2021-09-23 05:32] akru commented on #427
Hi, looks like you use wrong type for session keys, for Shiden it’s just AccountId, not a tuple.

[2021-09-23 05:33] akru commented on #427
Thank you for report

[2021-09-23 06:16] akru commented on #427
Unfortunately we can't change anything on node and/or runtime side, that's pure UI view error.

[2021-09-23 06:16] #427 closed

[2021-09-23 09:12] AlexZhenWang opened #428 "Shiden nodes stops syncing"
Hi, just report, seems like many Shiden nodes stop syncing.
![image](https://user-images.githubusercontent.com/14008461/134482672-e1a26b4e-9d4b-4f35-a5db-4458edb53453.png)

[2021-09-23 09:45] #428 closed

[2021-09-24 08:43] Maar-io opened #432 "Error NotStakedContract during unbonding"
**Describe the bug**
there are 2 stakers on contract 0x01. Alice and Bob staked 100 both
Alice unstakes whole 100 stake. OK
Bob unstaked 50 ... NOK
    Error event **NotStakedContract**

[2021-09-24 18:57] Maar-io opened #434 "UnknownStartStakingData for claim() after history_depth() eras"
**Describe the bug**
If contract is claimed after history_depth() eras are past, there is error **UnknownStartStakingData**

[2021-09-24 19:33] Maar-io opened #435 "UnexpectedState error on bond()"
commit used for building binary: https://github.com/PlasmNetwork/Astar/pull/433/commits/fc442c769246b375999b57c9620a61b8c34c5f48 from https://github.com/PlasmNetwork/Astar/pull/433

to reproduce it:

- 1 contract registered by Dave
- Bob bonds 100
- claim in era 1

![image](https://user-images.githubusercontent.com/34627453/134729918-ce7cd5a0-112f-437d-ac68-109ab5fd099e.png)

so far it was all goo

[2021-09-25 06:30] Dinonard commented on #435
Alice bond_and_stake() around era 180 (maybe before or after). This is when error UnexpectedState occurred.
    Alice repeats same bond_and_stake() in block 184 and it goes ok.

Are 180 and 184 both blocks?

[2021-09-27 07:47] Dinonard commented on #435
Issue was fixed.

There was an wrong assumption in bond&stake (and in unbond,unstake&withdraw) together with on_initialize method.

[2021-09-27 07:47] #435 closed

[2021-09-27 12:07] Dinonard commented on #434
The problem is that if no staking was done during the era from which we're starting with claim, this error will happen since this EraStakingPoints struct doesn't exist.

E.g.
- Staked at era 1
- HISTORY_DEPTH + 1 eras pass
- We claim the rewards
- We discard what was earned during era 1 since that's beyond the history limit
- But we have not staking information for era 2 since nothing was staked t

[2021-09-27 19:27] #434 closed

[2021-09-28 14:37] Maar-io commented on #432
can't be observed on the latest build

[2021-09-28 14:37] #432 closed

[2021-10-05 09:30] hoonsubin commented on #404
closing as this is a duplicate of https://github.com/PlasmNetwork/Astar/issues/398

[2021-10-05 09:30] #404 closed

[2021-10-05 10:47] togamamora commented on #398
On top of this, another participant has the same issue.

An issue on Shiden crowdloan reward.

Kusama Address:
Go7Z9bhjYo6Xkc6dqpXpBwbTxx91sR38yqDkcoheYgV4PAy

Shiden Address:
aA6L8DutRRGzvpVMSTbwtjsQRP2BRJbhoVcbfjc37TwuBN6

1st contribution. 10 KSM (Stage 1 Bonus)
https://kusama.subscan.io/extrinsic/0xbc08bf0cd523da0ad79147715c882c3b8af507aae28852a6e4f4348c5ff5c829

2nd contribution, 2 KSM (Stage

[2021-10-14 02:04] coder-chenda opened #478 "SDN transfer entry problem"
/get_extrinsics_by_hash/0x6112421e73cd5935aca330ebbeb707bf6a3e9f92932718b104938885446fa762
2021-10-14 09:49:11             VEC: Unable to decode on index 2 createType(ExtrinsicV4):: createType(Call):: Call: failed decoding dappsStaking.register:: Struct: failed on args: Struct:: decodeU8a: failed at 0x004d4e6e07d480f3… on contract_id:: DoNotConstruct: Cannot construct unknown type SmartContract
20

[2021-10-20 10:08] tash-2s opened #491 "Request: Add contract and era to dapp staking Reward event"
I want `T::SmartContract` and `EraIndex` on `Reward(T::AccountId, BalanceOf<T>)` event of the dApp staking pallet. It makes tracking reward claims easier for me. Without them, we can't find out what the reward belongs to with the event itself.

[2021-10-20 10:47] tash-2s commented on #491
Wait, I can get the info with the `ContractClaimed` event. Even if the block contains multiple claims for contracts/eras, I can match `ContractClaimed` and `Reward` with the extrinsic index in the block. Sorry for bothering you.

[2021-10-20 10:47] #491 closed

[2021-10-27 01:41] coder-chenda opened #495 "Block prepare storage changes error:"
The node had a new problem last night. After an error is reported, the synchronization height of the node will not change, and the synchronization is abnormal.Can I have a look? Nodes have frequent problems every day.

[2021-10-27 03:18] jun0tpyrc opened #496 "Seems not working with substrate-api-sidecar for example getBlockById"
**Description**

**Steps to Reproduce**

[code]

**Expected vs. Actual Behavior**

**Environment**
running together with `parity/substrate-api-sidecar:v11.0.0` + `shiden-17` on `shiden mainnet`

- Operating system:
- Project version/tag:
- Rust version (run `rustup show`):

**Logs, Errors or Screenshots**

**Additional Information**

while for  `parity/substrate-api-sidecar:v11.0.0`+`shiden-22` on

[2021-11-01 07:17] coder-chenda commented on #495
Adding -- state cache size 1 still can't solve the problem, or it will report errors frequently. After the error is reported, the block height will not change. Can't this problem be solved now?

[2021-11-01 09:02] fiexer commented on #495
Already responded on Discord!

[2021-11-01 14:58] #495 closed, assigned to akru

[2021-11-02 09:44] firke opened #503 "Collator parachain node sync errors - Digest item must match that calculated"
**Description**

We're using Astar Collator node as a Shiden RPC endpoint. At some moment of time chain stops syncing and block ingesting stops completely. Restarting the node fixes the issue, but it usually appears within the next 24-48h. Same issue appears throughout the sync retries - Digest item must match that calculated and Err(UnknownParent).

**Steps to Reproduce**

1. Node is setup.
2. No

[2021-11-03 09:12] h4x3rotab commented on #503
Maybe related? This only happens after the upgrade to substrate v0.9.12

https://github.com/paritytech/substrate/issues/10158

[2021-11-04 07:55] coder-chenda commented on #503
how to solve the problem?

[2021-11-04 08:01] coder-chenda opened #504 "Error importing block 0x985b77fdbc66f3ea8316b7107b86e8542c70dd045eed26f123795903d8e9cba3: Err(Other(ClientImport("Runtime Ethereum block not found, rejecting!")))"
how to solve this  problem,when i delete shiden/db data,restart the node ,but do not syncing and have the error.

[2021-11-06 06:42] AlexZhenWang opened #506 "Get `Pothential long-range attackL block not in finalized chain." on Shiden node"
Network: Shiden
Node type: Archive full node
Image: staketechnologies/astar-collator:v2.7.1

Hi we have a node start getting `Pothential long-range attackL block not in finalized chain.` error today
![image](https://user-images.githubusercontent.com/14008461/140600461-23857427-1156-48cd-a4e5-2dd82faed0d8.png)

[2021-11-07 09:20] bLd75 commented on #504
@coder-chenda could you please confirm this issue is solved with v2.7.1?

[2021-11-08 09:56] coder-chenda opened #507 "Block prepare storage changes error:"
![Uploading image.png…]()

[2021-11-08 09:56] coder-chenda commented on #507
![image](https://user-images.githubusercontent.com/83049018/140721512-36c27586-78f3-40f1-afe5-e76d3b101892.png)

[2021-11-09 14:43] Dinonard opened #508 "Dapps staking - unbonding period for pallet"
# Description
We want to have an unbonding period for dapps staking
This will prevent users from being able to unstake whenever they want.

E.g. we can ensure that users stay staked for at least a couple of eras.
This should also increase commitment level to a dapp.

## Solution Idea

Keep the existing bond_and_stake functionality unchanged.

Break up unbond_unstake_and_withdraw functionality into

[2021-11-15 08:37] coder-chenda commented on #504
It has been upgraded, and the official has not solved it

[2021-11-15 18:04] base1217 opened #513 "Error: Service(Other("Backend error: Unsupported BABE DB version: 3")) while using pruned relay chain DB"
Hello,

Trying to spin up new node with using relay chain pruned DB(from polkashots.io)
Node does not start successful

Below logs:
[code]

node parameters:
[code]

Databases located:
[code]

[2021-11-15 19:54] Dinonard commented on #513
Hi base1217,
the issue should disappear once we upgrade substrate to use polkadot-v0.9.12.

The polkadot-v0.9.11 we're using atm doesn't support DB version 3.

[2021-11-16 01:51] bLd75 commented on #504
Could you please provide more context: node type (collator, archive...), arguments used, chain, state of sync, behavior after restart.
A more complete log would help.
Thanks

[2021-11-16 10:03] base1217 commented on #513
Oh, thanks a lot. Will wait for new release.

[2021-11-16 10:03] #513 closed

[2021-11-24 10:22] bLd75 opened #521 "Fix EVM calls by block hash"
PR [#/511](https://github.com/PlasmNetwork/Astar/pull/511) fixed EVM call by block numbers, but it seems that queries from Graph node call for the block hash.
These errors have been reported.
![image](https://user-images.githubusercontent.com/18489502/143219131-ed5ddc5e-db5f-44d1-9993-2fd96afc412a.png)

We need the same fix for calls by block hash.

[2021-11-24 11:42] firke commented on #521
@bLd75 are you using own node? Had the same, had to wait some time for the RPC node to sync. Is RPC node stuck on the block 682279?

[2021-11-29 03:28] COLUD4 opened #529 "The nodes are not synchronized and cannot be synchronized even after being upgraded to the latest version"
![截屏2021-11-29 上午11 16 39](https://user-images.githubusercontent.com/21240219/143804145-27acd637-1b5c-4b85-b96a-403397c3cf79.png)
![截屏2021-11-29 上午11 18 08](https://user-images.githubusercontent.com/21240219/143804153-125f876a-0624-42ff-b4f0-d3dfb0c63058.png)

[2021-11-29 13:48] Dinonard opened #531 "dApps Staking - Individual Claim"
# Description
Implement individual `claim` support for dApps staking pallet.
This will allow increase in the number of stakers without significant impact on performance.

## Required Tasks
- [x] implement individual claim & adapt other calls to the new storage organization
- [x] implement & test storage migration
- [x] update UTs
- [x] test on localnet

## Estimated done.
Estimated time of complet

[2021-12-07 12:41] bLd75 commented on #521
PR #532 have a great effect fixing call by block hash, 1st results show a huge improvement for CPU consumption and no timeouts anymore on the proxy side.

[2021-12-08 03:06] #521 closed

[2021-12-20 01:40] AlexZhenWang commented on #507
![image](https://user-images.githubusercontent.com/14008461/146699940-de56b390-31db-4dd7-be07-81d875704cff.png)
Get a similar error today

[2021-12-22 02:48] AlexZhenWang opened #539 "[Block prepare storage changes error]"
Hi, I have some Shiden nodes that recently got the error below, and the WebSocket handler seems will be not responsible at the same time.

I just want to check the reason of this error and would like to check whether this is related to the WebSocket handler not responsible.

[code]

**Steps to Reproduce**

I haven't gotten a stable way to reproduce it, it happened randomly.

[2021-12-27 23:58] AlexZhenWang commented on #539
Hi get the error again today from Tue Dec 28 2021 11:48:09 GMT+1200 to Tue Dec 28 2021 11:56:50 GMT+1200.

[2022-01-03 10:03] asddasjqoehqewihewq opened #542 "Astar node stuck syncing block 65959"
**Description**

Astar node stuck syncing block 65959

**Steps to Reproduce**

- Copy polkadot archive DB from relaychain DB
-  Start syncing with:
[code]

**Environment**
[code]

**Logs, Errors or Screenshots**

[code]

[2022-01-17 13:06] coder-chenda opened #548 "Api will be available in a limited mode since the provider does not support subscriptions"
![image](https://user-images.githubusercontent.com/83049018/149774443-57b694fd-a456-47e0-8dfd-890d825b33c2.png)

[2022-01-17 13:07] coder-chenda commented on #548
No API connection at all

[2022-01-17 13:35] akru commented on #548
Hi, looks like your api client don’t support metadata V14. Could you try to update it?

[2022-01-18 02:55] coder-chenda commented on #548
Hello, may I ask how to update this client to the corresponding version? Because I used the official node to access the data well, but this problem started yesterday. Is there any update here recently?

[2022-01-18 03:11] coder-chenda commented on #548
https://shiden.api.onfinality.io/public
https://rpc.shiden.astar.network:8545
I used these urls before to create
const provider = new HttpProvider(url);
     const api = await ApiPromise.create({
       ...options,
       provider: provider,
       // types: {
       // ...shidenDefinitions,
       // }
     });
It is normal to create a client to access data. Now I start reporting this error. I do

[2022-01-18 10:43] akru commented on #548
Could you share how did you connect the node?

[2022-01-18 10:44] akru commented on #548
Version of PolkadotJS api library probably outdated.

[2022-01-19 14:00] TomaszWaszczyk commented on #542
Have you tried to solve this issue by removing all database before running the node?

[2022-01-20 15:39] jakautama commented on #548
Nice

[2022-01-21 03:39] #548 closed

[2022-01-21 10:11] Dinonard opened #552 "dApps Staking - Fixed Era Length"
# Description
Current implementation of dApps staking uses predetermined blocks
to trigger a new dApps staking era. Each era is expected to start exactly at a block
that satisfies: `current_block % blocks_per_era == 1`.
E.g. if each era lasts for 100 blocks and new era was triggered at block N,
next era will be triggered at block N + 100.

However, if we force a new era in the middle of an ongoing

[2022-01-21 10:27] Dinonard commented on #552
@bobo-k2 if you want to check this out again later, use tag `v3.3.0` as a base.

[2022-01-24 18:11] Dinonard opened #553 "dApps Staking - improved unregister"
# Description
`dapps-staking-pallet` has an extrinsic call that is used for unregistering a contract from dApps staking (`unregister` call).
What this call does, in a nutshell:
* Unregister all active stakers and unlock their bonds
* Disable contract for future staking

The problem is with the first part where we unregister all active stakers.
This is a heavy operation since it requires lots of re

[2022-01-24 19:11] jakehemmerle commented on #552
If I understand correctly, when forcing a new era, we want to store an offset from the previous era, say `block_offset = current_block % blocks_per_era`. New eras start where `(current_block + block_offset) % blocks_per_era = 1`.

Two solutions:

### 1. Store `block_offset` in the [ForceEra](https://github.com/AstarNetwork/Astar/blob/master/frame/dapps-staking/src/pallet/mod.rs#L131) storage struc

[2022-01-24 21:27] Dinonard commented on #552
Interesting approaches! All are very centered around the `force new era` concept. 🙂

How about we just consider how the solution would look like without `force new era` concept?

There is no real reason for a new era to start at `current_block % blocks_per_era == 1`.
Any block should be ok. And from starting block, era should last for 100 blocks (number from above example).
What do you think about

[2022-01-24 23:37] jakehemmerle commented on #552
Perhaps I misunderstood, I thought having `force_new_era()` was a functional requirement here, but I don't know the context of how it's been previously used or why it's there. I thought it was required for testing!

Sure. If we want to remove `force_new_era()` completely, we can do everything inside of the `on_initialize()` hook.
Firstly, we store the next era's block height as `next_era_block_hei

[2022-01-25 07:24] Dinonard commented on #552
We need `force_new_era()`. My comment was just intended to remove the focus from that one particular feature.
Btw, that is used for testing (we don't want to wait for too many blocks to trigger a new era sometimes).

The main requirement of this task is that each era lasts for `BlockPerEra` blocks (you can find this configurable constant in the pallet code or documentation).
Using the example from

[2022-01-25 12:57] MadDog2022 opened #554 "Astar Portal issue - wallet will not load"
https://portal.astar.network/#/balance/wallet will not load in Chrome

When I click on the link, it opens the wallet page but will not load - I just get a spinning wheel. How do I fix this? Thx

<img width="1198" alt="Screen Shot 2022-01-25 at 6 55 30 AM" src="https://user-images.githubusercontent.com/98399188/150980951-d3aef652-3f5d-4fca-9d07-55897a873658.png">

[2022-01-25 13:04] MadDog2022 opened #555 "Astar Discord - Unable to accept invite problem"
I'm trying to join Astar's Discord but getting this error message. Please advise. Thx

[2022-01-25 13:10] #555 closed

[2022-01-25 13:26] jakehemmerle commented on #552
Yeah, `NextEraStartingBlock` is a better name.

Anything I'm missing or should I get started on implementation/unit tests?

[2022-01-25 14:21] Dinonard commented on #552
You can get started :slightly_smiling_face:

[2022-01-26 01:33] jakehemmerle commented on #552
@Dinonard What do we do for the `on_runtime_upgrade()` logic and testing? We are adding in a new storage item but we don't have any data to migrate. Do we need to do anything special here?

[2022-01-26 07:04] Dinonard commented on #552
I will leave some comments in the PR so it's easier to follow.

[2022-01-27 08:43] akru opened #558 "Collator Selection pallet migration"
# Description

Currently we use different versions of pallet_collator_selection:
* Astar runtime uses `lock` based version
* Shiden / Shibuya runtime uses `reserve` based version

As it more convenient to use locks instead of reseves (that don't permit to use vested / staked token as collator deposit), we should migrate Shiden and Shibuya to `lock` based pallet. Requirement here is have storage mi

[2022-02-01 09:23] hoonsubin commented on #398
sent https://shiden.subscan.io/extrinsic/0x288d7a8431e1dbecb7fe5c46854f8dc2a6935e616c4a5d9a44fda12d43688f35
Sorry for the delay

[2022-02-01 09:23] #398 closed

[2022-02-05 01:31] asddasjqoehqewihewq commented on #542
Yes. wiping the parachain DB did work

[2022-02-08 20:47] codespool commented on #553
This is a non-issue on Astar, as the staker limit is not high enough that unregistering them all would hit the weight limit.
Issue is only present on Shibuya because the staker limit is higher there, and that will be fixed by this pr:
https://github.com/AstarNetwork/astar-frame/pull/6
Closing the issue.

[2022-02-08 20:47] #553 closed

[2022-02-28 10:11] jun0tpyrc opened #581 "Block prepare storage changes error"
staketechnologies/astar-collator:latest@sha256:c7d7187356c6abc51271b74736d0ee8b70d9db661e387abf37811018e6533129 //  shiden-36

dockerhub image

[code]

[2022-02-28 10:29] jun0tpyrc commented on #581
resolved with prebuilt v3.9.0

[2022-02-28 10:29] #581 closed

[2022-03-02 06:53] coder-chenda opened #583 "Hello, I see no instructions for this v3.10.0 update. Does this need to be updated? Has anything been fixed or updated?"
<img width="1294" alt="image" src="https://user-images.githubusercontent.com/83049018/156310346-b6328756-99c2-4f09-8ce2-084540cb8886.png">

[2022-03-02 13:44] akru commented on #583
Hi, release already published, please check

[2022-03-02 13:44] #583 closed

[2022-03-02 18:17] hieudd opened #584 "Integrated SubWallet: all-in-one wallet for Dotsama ecosystem"
Please integrate the SubWallet wallet, an all-in-one wallet extension for the Dotsama ecosystem.

**Information about SubWallet**

- Website: https://subwallet.app/
- Installation link: https://bit.ly/3BGqFt1

**SubWallet Demo:**

https://www.youtube.com/watch?v=8zY7AVv3AKg

- Github: https://github.com/Koniverse/SubWallet-Extension
- Dapp integration example: https://github.com/Koniverse/SubConne

[2022-03-04 02:35] ChainHe opened #585 "Little Japan Fuck"
Little Japan

[2022-03-04 02:36] ChainHe opened #586 "Fuck U Sota"
Fuck U Sota

[2022-03-04 06:40] #586 closed

[2022-03-04 06:40] #585 closed

[2022-03-04 10:47] mayong82 opened #587 "Error importing block"
2022-03-04 10:35:05 [Parachain] Block import error: Backend error: Can't canonicalize missing block number #527571 when importing 0x3247965f022e062c7176aaa9bea22247d9403220a9d203cc74d6814f0f6f5289 (#531667)
2022-03-04 10:35:05 [Parachain] 💔 Error importing block 0x3247965f022e062c7176aaa9bea22247d9403220a9d203cc74d6814f0f6f5289: consensus error: Import failed: Backend error: Can't canonicalize mis

[2022-03-10 10:05] Dinonard commented on #508
This has been finished 1-2 months ago.

[2022-03-10 10:05] #508 closed

[2022-03-15 12:04] #531 closed

[2022-04-04 23:34] mkchungs opened #609 "How to derive pubkey from evm address?"
Hello,

I'm trying to figure out how to derive the pubkey from an evm address in Astar/Shiden.

For example, how to derive this pubkey [0xa82620e2ca6b39b487d51de5c6b2c1fd2043456ba927adb63aa359bde9a2049b](https://astar.subscan.io/account/ZjmfVFeDk7ECQEGXRSUMsLQuH7LAJoKhAF8x11Qfc3Cvp18) from its evm address [0x1654dfc1ba22cbdfb0640d9119427ffa4eff9e73](https://astar.subscan.io/account/0x1654dfc1ba22c

[2022-04-05 11:19] codespool commented on #609
For deriving the pub key look here:
https://ethereum.stackexchange.com/questions/13778/get-public-key-of-any-ethereum-account
And the H160<->SS58 address relationship is documented here:
https://medium.com/astar-network/using-astar-network-account-between-substrate-and-evm-656643df22a0

[2022-04-05 12:01] #609 closed

[2022-04-06 12:07] wwwAndries opened #612 "Bad input data provided to validate_transaction"
Error after update Shiden collator to 3.16.0
[Parachain] panicked at 'Bad input data provided to validate_transaction: Codec error', /build/runtime/shiden/src/lib.rs:840:1

[2022-04-06 14:17] Dinonard commented on #612
Hello,

please provide more description, this isn't sufficient.
The line you picked doesn't mean much outside of context.

[2022-04-06 15:36] Dinonard commented on #612
There is no attachment, I don't believe Github automatically adds them to the reply.
Please upload it via Github portal.

[2022-04-06 17:27] #612 closed

[2022-04-13 10:16] #552 closed

[2022-04-15 03:06] TeaBear5 opened #616 "Error importing block on syn"
Can't seem to ever sync the node even after restarting the database entirely several times.  Keep getting this error

2022-04-14 22:31:55.350  WARN tokio-runtime-worker sync: [Parachain] 💔 Error importing block 0xf50f5e725f2fce46d7359296ec3173345ba2e0b53eaf3b8abe868da915df6324: consensus error: Import failed: Backend error: Can't canonicalize missing block number #820535 when importing 0xf50f5e725

[2022-04-15 03:07] TeaBear5 commented on #616
Here is the cli args:

./target/release/astar-collator -d /mnt/3bd01025-f1fe-4ed1-85eb-063bb13ba34a/astar-data --chain astar -l evm=debug,ethereum=debug,rpc=debug --port 40444 --rpc-port 9955 --pruning archive --unsafe-rpc-external --unsafe-ws-external --state-cache-size 10 --telemetry-url 'wss://telemetry.polkadot.io/submit/ 0'

[2022-04-26 11:18] TomaszWaszczyk opened #621 "failed to load source for dependency `pallet-evm-precompile-assets-erc20`"
I have removed Cargo's cache, was trying to clean via [the plugin](https://github.com/matthiaskrgr/cargo-cache) but still get this:

[code]

[2022-04-26 11:55] Dinonard commented on #621
Hello,

one of the branches that was used incorrectly in production got deleted so now as expected, Cargo is complaining about it.

#620 will fix this.

[2022-04-26 12:06] TomaszWaszczyk commented on #621
OMG

Thanks for the information!!

[2022-04-26 12:06] #621 closed

[2022-04-27 07:46] jianwei-fang opened #622 "Astar node can not sync to latest"
I start a need node. after syncing to latest, the node stop syncing, and the node height get from eth_blockNumber never update. If restart the node, it can sync to latest and stop again.

running command:
`docker run -d --restart unless-stopped \
-p 30333:30333 \
-p 9933:9933 \
-p 9944:9944 \
-v "/data/astar/:/data" \
staketechnologies/astar-collator:latest \
astar-collator \
--pruning archive \
-

[2022-04-29 03:00] jianwei-fang commented on #616
same problem, have you find a solution? @TeaBear5

[2022-04-29 03:00] jianwei-fang commented on #616
same problem, have you find a solution? @TeaBear5

[2022-04-29 03:06] jianwei-fang commented on #622
2022-04-29 03:05:19 [Relaychain] ✨ Imported #10080837 (0xc78c…0ed2)
2022-04-29 03:05:20 [Parachain] Block import error: Backend error: Can't canonicalize missing block number #917232 when importing 0x34e87aa62dfddc1e6a65cd79836b04f9826d6b82b80b1c85ae456cf109950c8c (#921328)
2022-04-29 03:05:20 [Parachain] 💔 Error importing block 0x34e87aa62dfddc1e6a65cd79836b04f9826d6b82b80b1c85ae456cf109950c8c: c

[2022-04-29 03:06] jianwei-fang commented on #622
2022-04-29 03:05:19 [Relaychain] ✨ Imported #10080837 (0xc78c…0ed2)
2022-04-29 03:05:20 [Parachain] Block import error: Backend error: Can't canonicalize missing block number #917232 when importing 0x34e87aa62dfddc1e6a65cd79836b04f9826d6b82b80b1c85ae456cf109950c8c (#921328)
2022-04-29 03:05:20 [Parachain] 💔 Error importing block 0x34e87aa62dfddc1e6a65cd79836b04f9826d6b82b80b1c85ae456cf109950c8c: c

[2022-04-29 03:21] jianwei-fang commented on #587
same problem, have you find a solution? @mayong82

[2022-04-29 03:21] jianwei-fang commented on #587
same problem, have you find a solution? @mayong82

[2022-04-29 06:37] Dinonard commented on #622
Hello, try to change `--state-cache-size` to 0

[2022-04-29 10:03] bLd75 commented on #622
Please change --execution wasm to --execution Native, documentation has been updated.
What about resource consumption (CPU, RAM)?

[2022-05-01 09:15] tumf opened #624 "panicked at 'Digest item must match that calculated."
**Description**

The sync is stoped after relaycahin synced, and raise error at 930708 parachain block (astar)

**Steps to Reproduce**

`astar-collator -l evm=debug,ethereum=debug,rpc=debug --pruning archive  --name WAKUMO-1  --chain astar --execution Native --pool-limit 65536 --base-path /data --rpc-cors=all --unsafe-rpc-external --ws-external --state-cache-size 1`

**Environment**

* version 3.2

[2022-05-01 11:57] akru commented on #624
Hello, could you try drop `execution native` flag

[2022-05-01 16:30] tumfwkm commented on #624
@akru Is it correct ussage of the option ( --execution Native ) ?

`astar-collator -l evm=debug,ethereum=debug,rpc=debug --pruning archive --name WAKUMO-1 --chain astar --execution Native --pool-limit 65536 --base-path /data --rpc-cors=all --unsafe-rpc-external --ws-external --state-cache-size 1`

[2022-05-01 17:48] tumf commented on #624
it proceeded after dropping `--execution Native`  , the error does not come

However once the sync caught up (parachain & relaychain) without `--execution Native` , it stopped the parachain sync.

<img width="1311" alt="image" src="https://user-images.githubusercontent.com/69994/166157957-064bc8b0-26e0-4d10-8605-dd8550987eab.png">

1. I restarted astar-collator process => parachain does not sync
2

[2022-05-03 15:05] soichisumi opened #628 "Can't find author_rotateKeys json-rpc"
**Description**

I am running astar-collator in collator mode and I thought I could use author_rotateKeys RPC since I specified the unsafe-rpc argument, but I get an error

**Steps to Reproduce**

1. Run:

[code]

2. Run: `curl -H 'Content-Type: application/json' --data '{ "jsonrpc":"2.0", "method":"author_rotateKeys", "id":1 }' localhost:9933`

3. Will Get: `{"jsonrpc":"2.0","error":{"code":-3260

[2022-05-04 07:36] wKich commented on #622
@bLd75 I tried to use `--execution Native` but got the error described #624

[2022-05-04 10:36] #622 closed

[2022-05-06 06:51] tumf commented on #624
I tried again at v3.22.0 (docker) with option "-l evm=debug,ethereum=debug,rpc=debug --pruning archive  --name WAKUMO-1  --chain astar --execution Native --pool-limit 65536 --base-path /data --rpc-cors=all --unsafe-rpc-external --ws-external --state-cache-size 1"

The result does not change.

1. I restarted astar-collator process => parachain does not sync after caught up
2. I tried to drop  `--ex

[2022-05-06 07:45] Dinonard commented on #624
Try using `--state-cache-size 0 --execution Wasm`

[2022-05-06 09:08] wwwAndries opened #631 "received an unexpected `CollationSeconded`: unknown statement statement=Signed(UncheckedSigned"
**Description**

[code]

**Environment**
OS: Ubuntu 20.04 LTS
CPU: AMD Ryzen 9 5950X 16 Cores (Zen3)
RAM: 128 GB DDR4 ECC

astar-collator 3.22.0-unknown-x86_64-linux-gnu
astar-collator 3.25.0-unknown-x86_64-linux-gnu

[2022-05-06 16:39] bin995 opened #632 "i have unlocked my astr in dapp staking check it was successful but i can't find my astr number anywhere while still being reported staking and locked what should i do?"
i have unlocked my astr in dapp staking check it was successful but i can't find my astr number anywhere while still being reported staking and locked what should i do?
![8921718F-E058-4CEC-8D88-98DFDEDDC61D](https://user-images.githubusercontent.com/82761872/167175339-198fb3fc-1294-4a05-a507-944d5eefcbfc.png)
![7EBC9874-1AF3-4CE0-B072-11D1BC4D5ECA](https://user-images.githubusercontent.com/827618

[2022-05-06 17:01] bin995 commented on #632
Help

[2022-05-06 17:05] Dinonard commented on #632
Your ASTR is undergoing the unbonding period.

When you unstaked, this message was displayed to you.
`Your funds will be unbonded and available for withdrawal after 10 full eras.`

Once 10 eras pass, you can unlock your tokens.

[2022-05-06 17:05] #632 closed

[2022-05-06 17:16] bin995 opened #633 "i have unlocked my astr in dapp staking check it was successful but i can't find my astr number anywhere while still being reported staking and locked what should i do?"
i have unlocked my astr in dapp staking check it was successful but i can't find my astr number anywhere while still being reported staking and locked what should i do?

[2022-05-06 17:36] bin995 commented on #633
Help

[2022-05-07 05:23] tumf commented on #624
@Dinonard Unfortunately, things didn't change.

[2022-05-07 08:44] Dinonard commented on #633
https://github.com/AstarNetwork/Astar/issues/632

[2022-05-07 08:51] Dinonard commented on #628
As far as I know, you cannot run collator and RPC from the same node, unless it's a development node.

[2022-05-07 12:12] winor30 opened #634 "eth_getBlockByHash for genesis block does not work"
**Description**

There was a problem that genesis block data was null when retrieved with `eth_getBlockByHash`.
We discovered this problem when we were trying to use graph-node with Shibuya network, and the data retrieval of the genesis block failed.

**Steps to Reproduce**

I tried with Shibuya network, ETH main network, and Moonbase alpha Testnet, and confirmed that only Shibuya network could no

[2022-05-10 16:28] zhangguyu6 opened #637 "mainnet upgrade always before version release"
I find that mainnet upgrade always happens before version release, making it difficult for users to keep up with the latest runtime version,  for example astar-14 was deployed on mainnet 1 day before the release of v3.25.0.
It is hoped that the version will be released before the mainnet upgrade, so users can upgrade therir nodes smoothly.

[2022-05-10 18:59] #616 closed

[2022-05-11 06:47] Dinonard commented on #637
Hello @zhangguyu6, thank you for the message.

That is true, we don't really aim to do the release before deployment in case where client isn't impacted.
E.g. release `v3.25.0` only impacts the runtime code. You can continue using the old client.

In case when a client upgrade is required, release and communication would of course be handled differently.

We released release notes a few hours afte

[2022-05-12 06:06] #637 closed

[2022-05-12 06:07] #633 closed

[2022-05-12 06:07] #628 closed

[2022-05-16 13:56] carlosala opened #642 "Call index of System pallet is different than other chains"
Hi!
I just have a doubt about system pallet. In every chain in substrate (at least in the parachains) the system pallet has the `0, 0` index of the `Call` type. Instead of that, in Astar is `0, a`. Has this any reason behind, or just why it's using a different call number?
Thanks!

[2022-05-17 12:16] andabakus commented on #587
Hi. I suggest to both of you to join the [Discord ](https://discord.com/invite/Z3nC9U4) to resolve configuration issues.

[2022-05-17 12:16] #587 closed

[2022-05-17 12:25] andabakus commented on #529
Hi. I suggest to join official [Discord](https://discord.com/invite/Z3nC9U4) to resolve configuration issues in future.

[2022-05-17 12:25] #529 closed

[2022-05-17 12:27] andabakus commented on #503
Since several new versions of both Astar and Substrate came out in the meantime, this issue will be closed.

[2022-05-17 12:27] #503 closed

[2022-05-17 12:45] Dinonard commented on #642
Hello @carlosala,

it's because of `System` pallet index in runtime I assume.
https://github.com/AstarNetwork/Astar/blob/master/runtime/astar/src/lib.rs#L741

As to why **10** was chosen instead of **0**, I'm not sure :)

[2022-05-17 13:07] Dinonard commented on #642
Not sure why is this causing you problems, tbh. Any arbitrary number should work.

@akru I guess you chose this, initially for Shibuya?

[2022-05-17 13:32] akru commented on #634
Hi @winor30, do you have same issue on Astar?

[2022-05-17 13:42] carlosala commented on #642
It's not causing problems, we just were doing some testing and mocking calls for every chain and we are always using [0, 0] as a mock. We can just change that mock for Astar, was just a curiosity that any other thing.

[2022-05-17 13:42] #642 closed

[2022-05-17 17:38] winor30 commented on #634
@akru yes. also it has same issue on Astar

![](https://i.gyazo.com/5d20159e30f4bda22d219e1e5cb0c97d.png)

[2022-05-18 15:35] kadubarral opened #645 "'tokio-runtime-worker' panicked at 'Digest item must match that calculated"
My full node stopped at block 1024960

Here are my parameters
[code]

[code]

[code]

[2022-05-19 07:40] Dinonard commented on #558
@akru I believe this is deprecated since you modified collator selection pallet back to using reserve, right?

[2022-05-19 08:13] #385 closed

[2022-05-22 12:52] Poggi-Luca commented on #558
Interested on this........my opinion is better to use `lock` based version on all chains

[2022-05-27 03:14] #539 closed

[2022-05-27 03:14] #507 closed

[2022-05-27 03:14] #506 closed

[2022-05-27 03:14] #504 closed

[2022-05-27 03:14] #496 closed

[2022-05-27 03:14] #318 closed

[2022-05-27 03:14] #313 closed

[2022-05-27 03:14] #243 closed

[2022-05-27 09:44] Jackwumingjie opened #648 "Message "Immediately Dropped" and data "The transaction couldn't enter the pool because of the limit" or the transaction can't be found on the chain when I send a transaction"
I send transaction by the node, but the api return
![image](https://user-images.githubusercontent.com/39093109/170674889-413de605-cd5b-4e2b-9a42-a168347cbb9a.png)
or return the tx_id(0x7d1355e7c2f51e3396c01cb9fa9afbf212174156ce7acb3dcd0127164b8c351b), but the transaction can't be found on the chain.
The node version is astar-collator 3.27.0-e36b361-x86_64-linux-gnu.

[2022-05-27 10:15] hoonsubin commented on #648
This is because the transaction queue is too long and your transaction does not have enough priority for the node to process it. You can solve this by adding tips to your transaction. Please refer to https://docs.astar.network/build/api/gas-price-api

[2022-05-27 10:15] #648 closed

[2022-05-28 11:50] MadDog2022 opened #651 "Invalid injector error message"
Hello, i unstaked my ASTR and it unbonded in era 42. However now my TOTAL Balance says $0 even though I have 135,000 coins and when I click on Vesting / Unlock I click give "invalid injector" error. Why? Thx
<img width="1123" alt="Screen Shot 2022-05-28 at 6 47 54 AM" src="https://user-images.githubusercontent.com/98399188/170824251-815705e5-4d1a-45e5-9b26-1b881521a78f.png">

[2022-05-28 11:55] MadDog2022 commented on #651
It says I have 1 unbonded chuck but it also says its supossed to complete in era 42 and its era 43 now so....

[2022-05-30 01:38] Jackwumingjie commented on #648
@hoonsubin But the substarte-interface has no param to adjust the gas.

[2022-05-30 07:29] hoonsubin commented on #648
@Jackwumingjie Substrate has tips instead of gas. You can refer to this document for details https://docs.substrate.io/v3/runtime/weights-and-fees/.

From the client side, you can add the `tip` property as a extended param for `signAndSend`

[2022-05-30 09:28] 17621859515 opened #652 "js sending transactions cannot be uploaded to the chain."
Use "@polkadot/api": "^8.6.1"
Make an astr ​​transfer
      const txHash = wait api.tx.balances
        .transfer(to, amt)
        .signAndSend(keyring.getPair(from));

The txHash can be obtained normally, but these txhash cannot be queried in https://astar.subscan.io/.
I can't find tech support and can only try to ask questions here.
Can someone help me?

[2022-06-01 04:12] coder-chenda opened #654 "RPC-CORE: submitExtrinsic(extrinsic: Extrinsic): Hash:: 1014: Priority is too low: (3140 vs 3140): The transaction has too low priority to replace another transaction already in the pool."
2022-06-01 11:26:51        RPC-CORE: submitExtrinsic(extrinsic: Extrinsic): Hash:: 1014: Priority is too low: (3140 vs 3140): The transaction has too low priority to replace another transaction already in the pool.
Error: 1014: Priority is too low: (3140 vs 3140): The transaction has too low priority to replace another transaction already in the pool.

[2022-06-02 10:48] coder-chenda commented on #652
I also encountered the same problem. The official replied that I changed the SDK to NPM I @astar-network/types, but I can't use this method. I can transfer successfully in the local test, but not in the mainnet environment.

[2022-06-06 10:13] ronald-sirius opened #659 "Unable to use transferFrom for DOT in solidity contract."
**Description**

The code below should reproduce the error.
`
pragma solidity =0.6.6;

interface IERC20 {
    function balanceOf(address account) external view returns (uint256);
    function allowance(address owner, address spender) external view returns (uint256);
    function transfer(address to, uint amount) external returns (bool);
    function approve(address spender, uint256 amount) externa

[2022-06-06 12:39] hoonsubin commented on #659
did you ensure that the contract account has some ASTR tokens? Accounts with below the ED amount will not be treated as an existing address within Substrate. This is required for XC20

[2022-06-06 13:03] ronald-sirius commented on #659
How much is required? That contract is newly deployed so that doesn't have any ASTR yet.

[2022-06-06 13:23] ronald-sirius commented on #659
The contract needs to have some balance, solved! close for now.

[2022-06-09 13:09] puneet166 opened #662 "How to deploy ink smart contract on it?"
**Question**

Hi , Please help me regarding it - How to deploy my ink smart contract over [Shiden Network](https://parachains.info/details/shiden_network) parachain in polkadot url- "https://polkadot.js.org/apps/?rpc=wss%3A%2F%2Fshiden.api.onfinality.io%2Fpublic-ws#/settings.

[2022-06-14 12:33] #662 closed

[2022-06-15 08:52] NoCtrlZ opened #666 "Shibuya node doesn't start syncing"
Hi there.
I would like to setup the light node of shibuya network but it doesn't work.

I created following docker-compose.yml file.
[code]

I started to run the above container but it doesn't start syncing.
[code]

My machine spec is 4 core, memory 8GB and 90 GB.
I tried to run with `--parachain-id 1000` but it didn't work.

I would appreciate it if you could check.
Thank you!

[2022-06-15 11:08] NoCtrlZ commented on #666
It seems like this same with following issue.
https://github.com/AstarNetwork/Astar/issues/622

[2022-06-15 11:11] NoCtrlZ commented on #622
@jianwei-fang
I have same issue.
Did you finally fix this error?

[2022-06-16 05:51] NoCtrlZ commented on #666
I run the same command with yesterday, it started syncing.
[code]

It seems the network problem.

[2022-06-16 05:51] #666 closed

[2022-06-16 10:16] NoCtrlZ commented on #645
My Shibuya node stopped at block #1633644
[code]
With command `astar-collator --chain shibuya --name artree --execution Native --pool-limit 65536 --base-path /data --rpc-cors=all --unsafe-rpc-external --ws-external --state-cache-size 1`

[2022-06-16 10:41] NoCtrlZ commented on #645
Related Issues

https://github.com/AstarNetwork/Astar/issues/503
https://github.com/AstarNetwork/Astar/issues/542
https://github.com/AstarNetwork/Astar/issues/624

It seems wiping DB worked.
https://github.com/AstarNetwork/Astar/issues/542#issuecomment-1030489859

[2022-06-17 03:13] #631 closed

[2022-06-17 07:12] NoCtrlZ commented on #645
It didn't change.
The syncing was stopped at same block #1633644.

[2022-06-20 02:24] jam-crypto2021 opened #672 "GasPrice inconformity."
**Description**

hello. I wanna why the GasPrice I got from the node I built was not the same as the official node. there is my command and result.

the node I built: "gasPrice":"0xbdfd63e00"
official node : "gasPrice":"0xba43b7400"

**Steps to Reproduce**

1. Build the astar node.
2. Synchronizing Historical Data
3. curl this `0xafa2564fca26a891516b79ac1f69eac35f8c811c2ff8c301fc2c0b38603967db` tr

[2022-06-20 19:40] niklabh commented on #672
checking

[2022-06-23 02:22] jam-crypto2021 commented on #672
@niklabh  can I fix this problem by upgrade the node?

[2022-06-27 15:19] malingzhao opened #686 "2022-06-27 15:17:34 [Parachain] ⚙️ Syncing 0.0 bps, target=#1321875 (12 peers), best: #1250606 (0xe65a…38a8), finalized #0 (0x9eb7…29c6), ⬇ 2.5MiB/s ⬆ 6.1kiB/s"
**Description**

**Steps to Reproduce**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected vs. Actual Behavior**

**Environment**

- Operating system:
- Project version/tag:
- Rust version (run `rustup show`):

**Logs, Errors or Screenshots**

**Additional Information**

[2022-06-27 15:20] malingzhao commented on #686
My node parachain is not sync there is my config , what is the error
root@iZt4ndawqmb1bamj7l2l3tZ:/data/blockdata/astr# vim docker-compose.yml

version: "3.5"
services:
  astr:
    container_name: astr
    image: staketechnologies/astar-collator:v4.4.0
    volumes:
      - /data/blockdata/astr:/astr/data
    command: 'astar-collator  --chain astar  --unsafe-rpc-external --ws-external  --pruning ar

[2022-06-29 03:30] #558 closed

[2022-07-01 03:11] shunsukew commented on #686
What about `[Relaychain]` side? Is it fully synced?

[2022-07-01 08:44] Ank4n opened #693 "Shibuya node not syncing, panic in the logs"
**Description**

**Steps to Reproduce**

**Environment**

Node version: v4.7.0

Logs:
[code]

[2022-07-01 08:57] Ank4n commented on #693
The issue was happening with execution mode `Native`. Changing it to Wasm makes the node sync again.

[2022-07-01 08:57] #693 closed

[2022-07-05 01:03] jaredWu0805 opened #696 "`eth_getLogs` does not work"
**Description**

Transaction's event log can be retrieved by `eth_getTransactionRecipt` but cannot be retrieved by `eth_getLogs`.

**Steps to Reproduce**

RPC Endpoint:
`https://evm.astar.network` & `https://astar.api.onfinality.io/public` both have the same issue.
`https://astar.public.blastapi.io` shows that "'eth_getLogs' does not exist/is not available".

With following `eth_getTransactionReci

[2022-07-05 02:11] heviyeh commented on #672
@niklabh do you have any updates?

[2022-07-05 06:21] niklabh commented on #696
Please check now. This issue is fixed.

[2022-07-05 11:14] malingzhao commented on #686
Yes

[2022-07-05 11:15] malingzhao commented on #686
What is the reason

[2022-07-05 11:28] malingzhao commented on #686
astr  | 2022-07-05 11:27:31 [Relaychain] ✨ Imported #11032106 (0x792b…991a)
astr  | 2022-07-05 11:27:36 [Parachain] ⚙️  Syncing  0.0 bps, target=#1373851 (3 peers), best: #1086611 (0x1c8b…6b8f), finalized #0 (0x9eb7…29c6), ⬇ 73.5kiB/s ⬆ 305.3kiB/s
astr  | 2022-07-05 11:27:36 [Relaychain] 💤 Idle (27 peers), best: #11032106 (0x9e7b…60a3), finalized #11032103 (0x2419…fe5d), ⬇ 61.5kiB/s ⬆ 14.4kiB/s
as

[2022-07-06 02:24] #696 closed

[2022-07-10 03:19] #654 closed

[2022-07-10 04:20] shunsukew commented on #686
It seems Parachain peers' number is very low.
CPU and mem meet the requirement? and do you see any error logs?

[2022-07-11 03:20] #652 closed

[2022-07-18 07:50] Dinonard commented on #634
The bug was fixed in release `v4.9.0`.

The cause was incorrect caching of the block schema which caused errors while decoding some blocks.

[2022-07-21 02:41] shunsukew commented on #634
No, this hasn't been fixed yet. This is a different issue from what we've seen with `eth_getLogs`.

Shibuya:
[code]

[2022-07-21 07:00] lsdbitrue opened #713 "Error importing block"
**Description**

**Steps to Reproduce**

1, Start a fresh Shiden node
2, Get the error logs

**Expected vs. Actual Behavior**

**Environment**

- Operating system: docker
- Project version/tag: v4.13.0
- Rust version (run `rustup show`):

**Logs, Errors or Screenshots**

[code]

[code]

**Additional Information**

start with

[code]

[2022-07-22 15:15] Dinonard commented on #713
Thank you for raising the issue!

We've submitted a new issue ticket to substrate:
https://github.com/paritytech/substrate/issues/11891

[2022-07-25 03:11] lsdbitrue commented on #713
@Dinonard is there an available version to use?

[2022-07-25 03:27] #645 closed

[2022-07-25 08:30] Dinonard commented on #713
@lsdbitrue the latest version that doesn't have this problem is `v3.29.0`.

However, keep in mind that's 2 months old.

[2022-07-25 08:33] lsdbitrue commented on #713
Thanks

[2022-07-25 09:47] Dinonard commented on #713
No problem, but let's keep it open, just for the sake of tracking.

Issue isn't resolved :)

[2022-07-26 20:21] koutakou commented on #713
Same on my side with astar chain

[2022-07-26 20:40] koutakou commented on #713
it does the job on my side
--> sync in v3.29.0 until the end and then I restart in latest version

[2022-07-29 09:40] icross56 commented on #654
I have the same problem with my Astar account, it cannot submit new transfers, how do I get out of this situation

[2022-08-04 02:37] jun0tpyrc commented on #713
similar, v4.25.0

Error importing block 0xff25788733905bdedfa5fd376d50176450ccdae797f7c56ab7ab4e45f400f9e4: consensus error: Import failed: Error at calling runtime api: Execution failed: Execution aborteddue to trap: wasm trap: call stack exhausted

[2022-08-07 15:22] web3-2022 opened #723 "eth_subscribe + newHeads"
**Description**

I've worked with a number of substrate parachains before but this is the first time I've ran into this issue. I'm running an Astar full node but when I try to subscribe to new block head events the node does not pass along any events. Oddly it will pass along pending transaction notifications without any issues. Is this a known issue that others are running into?

**Steps to Repro

[2022-08-08 02:17] jun0tpyrc commented on #713
It seems even reaching the chain tip , it can't finalize after switching back to v4.15.0?
[code]

[2022-08-08 06:52] Dinonard commented on #713
@jun0tpyrc this isn't related to the reported issue, there's no crash due to stack overflow.

[2022-08-09 05:43] jun0tpyrc commented on #713
yes, i am going to open another issue for that

[2022-08-09 05:46] jun0tpyrc opened #725 "[astar mainnet]staketechnologies/astar-collator:v4.<15/17>.0 never finalize on Parachain for days"
**Description**

[code]
this is already the chain head according to the time reading https://astar.subscan.io/ , but it never shows error nor

**Steps to Reproduce**

First did  v3.29.0 to get past error importing block , according to https://github.com/AstarNetwork/Astar/issues/713
When the height of relaychain is almost good approaching best block , switch back to v4.15.0  (and leave it run for

[2022-08-09 20:17] kamiloski88 opened #727 "[shibuya collator] cannot create module: compilation settings are not compatible with the native host"
Im trying to update my node (shibuya) from 4.9.0 to any **higher** vesrion but after restart my service, got an error. I have update my node multiple times without any problems, but now I dont have any idea whats is wrong, that I cant update my node (im using binary).
Im runnig node on proxmod VM on machine https://www.ovhcloud.com/en/bare-metal/rise/rise-game-2/.
My OS:
`DISTRIB_ID=Ubuntu
DISTRIB

[2022-08-10 05:08] jun0tpyrc commented on #725
[code]
is this one related?

sounds similar to old
#622
#666
#686
for me

[2022-08-10 05:14] jun0tpyrc commented on #725
- for state-cache-size=0 or execution=Native  , no effect

[2022-08-10 08:35] Dinonard commented on #727
Hello,

Ryzen 7 should support sse4.1 instruction set, it's not really that new (15 years old?).

I'm not familiar with `Proxmod VM` but please look into settings and see if you can select a CPU that supports this instruction set. Perhaps you're emulating an older one which doesn't?

I'm using a Ryzen CPU too and it works just fine.

[2022-08-10 12:20] Dinonard commented on #713
Issue is fixed in latest release `v4.18.0`.
https://github.com/AstarNetwork/Astar/releases/tag/v4.18.0

[2022-08-10 12:20] #713 closed

[2022-08-10 18:02] kamiloski88 commented on #727
In proxmox I have foun some settings of processor, now Type is (default) kvm64, but there is the list with types i can choose, which one shoul I take you think?
AMD: athlon, EPYC, EPYC-IBPB, EPYC-Rome, Opteron_G1, Opteron_G2, Opteron_G3, Opteron_G4, Opteron_G5, phenom

Inte;: 486, Broadwell, Broadwell-IBRS, Broadwell-noTSX, Broadwell-noTSX-IBRS, Cascadelake-Server, Cascadelake-Server-noTSX, Conroe

[2022-08-10 18:11] kamiloski88 commented on #727
@Dinonard YOU ARE MY MASTER! LOVE YA! updated type to HOST and its working! Newlest version is running! Nobody help me because nobody knows where is the problem, you firs suggest change CPU and its working! I waste 7 deys to solve this problem! Thanks a lot man! Im proud that astar has specialists like you! cheers

[2022-08-10 18:11] #727 closed

[2022-08-11 04:59] shunsukew commented on #725
Could you try to add `--parachain-id 2006`?

[2022-08-11 05:17] jun0tpyrc commented on #725
just examined this flag, seem no changes after a few minutes
[code]

[2022-08-11 05:30] shunsukew commented on #725
In that case, I'd suggest cleanup Parachain DB (In your case, `/opt/data/chains/astar`) and syncing from 0 again or using parachain snapshot. https://github.com/AstarNetwork/Astar/releases/tag/v4.18.0 released recently resolved block importing issue https://github.com/AstarNetwork/Astar/issues/713, so there's no need to use `v3.29.0`.

[2022-08-11 06:43] jun0tpyrc commented on #725
@shunsukew you were right

that flag made the diff, after a hour, i can see it moved

[code]

[2022-08-11 08:51] shunsukew commented on #725
That's great to hear! Thank you for reporting and checking

[2022-08-11 08:51] #725 closed

[2022-08-11 13:41] Dinonard commented on #686
Please check solution here: https://github.com/AstarNetwork/Astar/issues/725

[2022-08-11 13:41] #686 closed

[2022-08-12 03:16] #672 closed

[2022-08-13 19:29] Ethereumx opened #732 "Astar with POA"
I would like to know if it is possible to run Astar with PoA.
Do I need to modify the code or is it configurable?

In a research project I am working on benchmarking few substrate solutions and I would like to use PoA alongside PoS.

[2022-08-16 02:53] shunsukew commented on #723
If I comment out ListenForMempoolTxs gorutine like below
[code]
Then, it shows the results
[code]

I assume something missing in go code

[2022-08-16 06:43] shunsukew commented on #723
Even without commenting out, I worked in my environment.

[code]

[2022-08-16 18:41] web3-2022 commented on #723
Thank you @shunsukew for checking. Is there a way to determine what version of the Astar client either of those two endpoints are running? I'm struggling to believe it's a hardware issue as I wasn't running anything else on the machine during these tests and the specs are more than sufficient.

Also does it look like anything in my Dockerfile looks off? Appreciate the research on your end.

[2022-08-17 04:09] shunsukew commented on #723
`wss://rpc.astar.network` running with `v4.18.0` (nodes starting with `stake-technologies-.*`).
OnFinality unknown, Blast API using `4.18.0`. https://telemetry.polkadot.io/#list/0x9eb76c5184c4ab8679d2d5d819fdf90b9c001403e9e17da2e14b6d8aec4029c6

I don't see suspicious things in docker command. Is your node fully synced?
(Please add `--parachain-id 2006`)

[2022-08-17 06:57] remzaspecial opened #733 "Failed to sync Astar node"
17.08.2022 09:54:14Version: 4.18.0-60cd9e6eded
17.08.2022 09:54:14
17.08.2022 09:54:14   0: sp_panic_handler::set::{{closure}}
17.08.2022 09:54:14   1: std::panicking::rust_panic_with_hook
17.08.2022 09:54:14             at rustc/ecd44958e0a21110d09862ee080d95a4ca6c52f8/library/std/src/panicking.rs:702:17
17.08.2022 09:54:14   2: std::panicking::begin_panic::{{closure}}
17.08.2022 09:54:14   3: st

[2022-08-17 08:25] shunsukew commented on #733
Could you share the command args you're using?
I suggest trying
`--parachain-id 2006` which will be set for Astar by default from the next release.
`--execution Wasm`
and I'd like to ask you check how the situation goes.

https://docs.astar.network/docs/nodes/archive-node/binary

[2022-08-17 08:31] remzaspecial commented on #733
Thank you, for now i delete old container, and started new one with this command:
astar-collator --name astar --chain astar --parachain-id 2006 --execution Wasm --base-path /data --rpc-cors all --ws-external --rpc-external --port 30333 --ws-port 9944 --rpc-port 9933 --pruning=archive
I'm gonna update info

[2022-08-17 11:19] web3-2022 commented on #723
Adding in the `parachain-id` and dropping  `wasm-execution` seemed to help quite a bit! I think things are working now, below is the output from the program I included before. Blocks are arriving at intervals I'd expect and I'm getting transactions returned too. @shunsukew you've been a huge help, not sure whether it was parachain or wasm-execution that was the culprit but things are working now.

[2022-08-17 11:19] #723 closed

[2022-08-17 11:37] shunsukew commented on #723
I am also not sure 100%. but parachain id could be the culprit I guess...
parachain id will be set by default for Astar/Shiden/Shibuya from [v4.18.1](https://github.com/AstarNetwork/Astar/releases/tag/v4.18.1)
Anyway, it's great to hear the issue resolved!

[2022-08-17 19:42] remzaspecial commented on #733
![image](https://user-images.githubusercontent.com/73424360/185228370-0e974a80-4902-413c-8ff5-ef298aa1b332.png)
Looks like everything gonna be all right

[2022-08-18 02:17] shunsukew commented on #733
Thank you for confirming! That's great to hear. `--parachain-id 2006` will be set by default for Astar from the latest release [v4.18.1](https://github.com/AstarNetwork/Astar/releases/tag/v4.18.1). You don't need to set it by yourself from this version.

[2022-08-18 02:17] #733 closed

[2022-08-19 05:32] shunsukew commented on #634
This `load_hash` function returns None in case with genesis block hash.
https://github.com/AstarNetwork/frontier/blob/b941a0001b5c2fb709df620cbf638b3695a22bb5/client/rpc/src/eth/block.rs#L53

[2022-09-12 21:33] wwwAndries opened #746 "Thread 'tokio-runtime-worker' panicked at 'Digest item must match that calculated"
**Description**

After upgrade to version: 4.21.0-b13d2bc7d98, collator run behind. Log shows these errors:

`Sep 12 21:16:56  astar-collator[58615]: ====================
Sep 12 21:16:56  astar-collator[58615]: Version: 4.21.0-b13d2bc7d98
Sep 12 21:16:56  astar-collator[58615]:    0: sp_panic_handler::set::{{closure}}
Sep 12 21:16:56  astar-collator[58615]:    1: std::panicking::rust_panic_with_ho

[2022-09-13 06:27] Dinonard commented on #746
Hello,

please provide steps to reproduce - in particular, how do you start the node?

[2022-09-13 07:38] wwwAndries commented on #746
ExecStart=/usr/local/bin/astar/astar-collator \
        --collator \
        --base-path $PATH \
        --name 'StakeWorks | HCN0503 | Astar' \
        --chain astar \
        --parachain-id 2006 \
        --rpc-cors all \
        --telemetry-url 'wss://telemetry.polkadot.io/submit/ 0' \
        --state-cache-size 0 \
        --execution native \
        --port 30333 \
        --ws-port 9934 \

[2022-09-13 07:48] wwwAndries commented on #746
Restarted node with:
        --execution wasm \
        --wasm-execution=compiled \
for parachain and relaychain.

Node is running now without errors.

[2022-09-13 07:49] Dinonard commented on #746
You're using `--execution native` in args which is incompatible if the built in runtime doesn't match the one deployed on-chain.

Since built-in is `astar-33`, it should work now that the upgrade has been completed. Try again.
Or use `wasm` as `--execution` argument.

So it's due to your configuration.

`Evicting failed runtime instance error=Runtime panicked: Digest item must match that calculate

[2022-09-13 07:49] #746 closed

[2022-10-09 08:42] akru opened #753 "custom-signatures: runtime filters bypass"
**Description**

In general Runtime Call filters used to prevent of usage some runtime functionality available using general extrinsics.

https://github.com/AstarNetwork/Astar/blob/master/runtime/astar/src/lib.rs#L154

This filter designed to be used and applied to all external extrinsics, but user can bypass this filter using custom-signatures pallet. This pallet permits user sign extrinsic using

[2022-10-12 16:40] flipchan commented on #727
Had a similar problem, changed the compile options and it worked, good catch!

[2022-10-14 03:21] tnkshuuhei opened #760 "Add more Proxy Types"
## Description
First of all, I think it's great that added Proxy to Shibuya!
Then in addition to "**Any**", how about adding at least the following Proxy Types as implemented in Kusama?
- Non-transfer
- Governance
- Staking
- Cancel
https://github.com/AstarNetwork/Astar/blob/6fe8d30b80f621aff6447e1eeda0532f554bd668/runtime/shibuya/src/lib.rs#L967-L969

## Why do we need?
As explained in the Polkad

[2022-10-17 03:04] taiki94 opened #764 "How to get balance of native account from astar node"
We would like to get native account balances, not EVM address balances, from the Astar node we have built.

So we have successfully started the Astar node using Docker and synchronized it as per the instructions.

We were able to get the balance of the EVM address(ex. 0x...), but we could not get the balance of the natice account.

Furthermore, I want to get the balance not only for my own address

[2022-10-17 08:49] shunsukew commented on #760
Thank you so much for the suggestion. Demand-based runtime improvements would be good.
Since we don't have node staking, I'd like to suggest to go with Non-transfer, Governance, Cancel in Shibuya first

[2022-10-18 07:29] shunsukew commented on #760
@tnkshuuhei
Having only `Any` is not practical, adding basic types like `NonTransfer` and `Cancel` would be good regardless of whether demands exist in my opinion. If such proxy types are available, someone would like to make use of them.
Do you have any use cases or situations where you need these proxy types, especially Governance?

[2022-10-18 08:25] tnkshuuhei commented on #760
As for governance proxy, it depends on whether AstarNetwork implements on-chain governance.

Cancel Proxy may be necessary if implement a Time delayed proxy.
For example, with these, we could create accounts that are resistant to hacking. (In some cases, you might use Multi-sig together, though...).

Furthermore, we might be able to develop a highly secure wallet like Argent by using it with Recov

[2022-10-18 08:28] tnkshuuhei commented on #760
These ideas are just the tip of the iceberg.

To be honest, I think the use cases for proxy are only going to increase, and there are very few Dapps that support proxy.The polkadot js UI does not support complex proxy.

[2022-10-18 11:37] bLd75 commented on #764
Sure you can, but querying the RPC directly (if that is what you are trying to achieve) is very challenging, you actually need to query state via `state_getStorage` method, asking for `System.Account` (mind the capitals).

Convert module name and storage key:
`util_crypto.xxhashAsHex("System", 128)`
=> "0x26aa394eea5630e07c48ae0c9558cef7"
`util_crypto.xxhashAsHex("Account", 128)`
=> "0xb99d880ec68

[2022-10-18 11:37] #764 closed

[2022-11-06 07:04] shunsukew commented on #760
PR merged and proxy types will be added to Shibuya with the next runtime upgrade.

[2022-11-06 07:04] #760 closed

[2022-11-07 23:08] Poggi-Luca opened #780 "Request for custom RPC endpoint in order to check if a specific block is finalized"
Hello Astar Team,
I'm Luca from :ice_cube: Iceberg Nodes :ice_cube:. Is it possible to have a custom RPC endpoint (Custom API) in order to check if a specific block is finalized making calls to the Substrate JSON-RPC?

Thank you
Let me know

[2022-11-08 03:07] shunsukew opened #781 "Node syncing blocks gets stuck"
**Description**
Astar/Shiden node gets stuck syncing blocks at particular block numbers when syncing node from scratch (0 block).
This happens at a certain rate (sometimes happens, sometimes not) and stuck block numbers are usually different.

Deleting entire parachain db (`{base path}/chains/astar` or `{base path}/chains/shiden`) works as a workaround, but we need to find out why this syncing err

[2022-11-08 06:56] sing1ee opened #782 "when upgrade to v4.29.1, I got this error:"
My astar collator upgrade to v4.29.1 failed, I'm using data from snapshots https://snapshots.stakecraft.com/ , I think it might be related

[code]

[2022-11-08 15:08] Poggi-Luca commented on #782
In case of error during migration, please delete the frontier DB folder `{base-path}/chains/shiden/frontier` or `{base-path}/chains/astar/frontier` and restart the node.

[2022-11-13 08:29] shunsukew commented on #781
https://github.com/paritytech/substrate/issues/12613

[2022-11-23 05:37] shunsukew commented on #634
Found the root cause, working on fixing it.

[2022-11-24 22:04] bkchr commented on #781
@shunsukew how easy is that to reproduce? Is it always the same block that fails?

[2022-11-25 01:36] shunsukew commented on #781
It is relatively easy, I'd say it's more difficult to sync without getting this so far.
Block is not the same each time.
I can reproduce it and give ssh access to the node to few devs.

[2022-11-25 08:27] bkchr commented on #781
Can you please give me the exact cli flags you are using to reproduce this?

[2022-11-25 16:26] shunsukew commented on #781
This is cli frags using right now.
[code]

[2022-11-28 16:40] #753 closed

[2022-11-29 12:42] k-ohsugi opened #794 "Parachain best block number is stuck"
**Description**
Parachain best block number is stuck although new block is imported.
This collator node , which is v4.38.0, runs on Shiden  and restore from the official snapshot.
We monitor the latest block height by calling `eth_getBlockByNumber` and it always returns the number where best block is stuch(#2849004).

[code]
**Steps to Reproduce**
Just run a collator node.

**Expected vs. Actual B

[2022-11-29 13:06] Dinonard commented on #794
The finalized block also seems to be stuck at  #2845989 in your log.

This started after you upgraded to latest release?
What are the machine specs you're running the collator on?

[2022-11-29 13:11] k-ohsugi commented on #794
I upgraded to v4.38.0 after running from the snapshot with v4.34.0.
Should I delete the directory `chains/shiden/db/full` and start from the snapshot with v4.38.0?
Machine spec is 8 CPU cores and 16 GB memory, following the h/w requirement of Shiden nw.

[2022-11-29 13:25] bLd75 commented on #794
Your relaychain is not sync from logs you sent, it doesn't seem like an upgrade but a deployment from scratch.
Parachain doesn't correctly sync latest blocks as long as relay chain isn't sync.
You have to wait for relay chain to finish syncing or use snapshot for it (for example https://polkashots.io/)

[2022-11-29 13:41] k-ohsugi commented on #794
Thanks a lot.
I'll wait for few days until caching up the relay chain's latest block.